<%= render 'layouts/nav' %>
<%= render 'layouts/aboutheader' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jindal Centre for Social Innovation & Entrepreneurship" />
  <meta property="og:description"   content="Social Innovation Lab & Startup Academy in North India" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
				<header class="header-icons overlay">
					<div class="background-image-holder parallax-background">
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1 class="text-white">
									<br>
									<font size="60">A <strong>Social Innovation Lab</strong> in North India</font>
								</h1>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-4">
								<i class="icon icon_easel text_white"></i>
								<h2 class="text-white">Social Enterprise Courses</h2>
							</div>
							
							<div class="col-sm-4">
								<i class="icon icon_lightbulb_alt text_white"></i>
								<h2 class="text-white">Startup Venture Incubation</h2>
							</div>
							
							<div class="col-sm-4">
								<i class="icon icon_documents_alt text_white"></i>
								<h2 class="text-white">Social Impact Research</h2>
							</div>
						</div>
		
					</div>	
			</header>
		</div>
		<section id="vision" class="feature-divider">
			
				<div class="background-image-holder" data-scroll-reveal="wait 0.2s then enter 200px from bottom over 0.3s">
					
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<h1>Vision</h1>
							<p class="lead">
								The Jindal Centre for Social Innovation & Entrepreneurship (JSiE) aims to strengthen the capacity of individuals and organizations to develop<b> innovative solutions</b> to complex <b>social and environmental problems. </b>JSiE’s mission is to help build a <b>social enterprise ecosystem</b> and catalyze <b>inclusive growth and development</b> across India. The social innovation lab designs<b> innovation challenges</b>, develops new<b> curriculum</b> and engages in <b>social problem-centric research</b> alongside industry and community partners. The startup academy supports aspiring entrepreneurs in the generation of new sustainable ventures by providing pre-incubation and skill development training.
							</p>
				
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
							<%= image_tag('jsieabout.png', alt: 'JSiE') %>
						</div>
					</div>
				</div>
			</section>
		</div>
		<section id="initiatives" class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Our Initiatives</h1>
						</div>
					</div>
					
				</div>
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".courses"><span>Courses</span></li>
								<li data-filter=".startups"><span>Startup Incubation</span></li>
								<li data-filter=".research"><span>Research</span></li>
								<li data-filter=".innovation"><span>Innovation Challenges</span></li>
							</ul>
						</div>
					</div>
					
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-md-4 col-sm-6 project courses image-holder">
								<div class="background-image-holder">
								<%= image_tag('futurelearn.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>FutureLearn </strong>Social Enterprise Program</h3>
										<%= link_to "See More", "https://www.futurelearn.com/programs/social-enterprise", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project startups image-holder">
								<div class="background-image-holder">
								<%= image_tag('tedi2.jpg', class: 'background-image', alt: 'Tibetan Entrepreneurship Development') %>
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Tibetan Entrepreneurship Development</strong><br> Incubation Partnership</h3>
									<%= link_to "See More", "http://jsie.in/img/TEDJSiE.pdf", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project innovation image-holder">
								<div class="background-image-holder">
									<%= image_tag('isic.jpg', class: 'background-image', alt: 'International Social Innovation Challenges') %>
					
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><b>International Social Innovation Challenge</b><br> 2015</h3>
									<%= link_to "See More", "http://isic15.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project startups image-holder">
								<div class="background-image-holder">
									<%= image_tag('startup.jpg', class: 'background-image', alt: 'Startup Academy') %>
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Startup Academy</strong><br></h3>
								<%= link_to "See More", "http://startupacademy.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project research image-holder">
								<div class="background-image-holder">
								<%= image_tag('finance.jpg', class: 'background-image', alt: 'Blockchain Impact') %>
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Blockchain Impact Initiative</strong></h3>
								<%= link_to "See More", "http://blockchain.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project startups image-holder">
								<div class="background-image-holder">
								<%= image_tag('lec.jpg', class: 'background-image', alt: 'Legal Entrepreneurship Cell') %>
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Legal Entrepreneurship Cell</strong></h3>
								<%= link_to "See More", "http://lec.jsie.in/", :target => "_blank", :class => "btn btn-primary btn-white" %>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</section>
		</div>
	<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Our Team</h1>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 team-item">
                         <a href="#teamModal1" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                            <div class="team-caption">
                         <%= image_tag('jwade.jpg', class: 'img-responsive img-circle', alt: 'Jeremy Wade') %>
                        <h2><font color="#ecf0f1">Jeremy Wade</font></h2>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-item">
                         <a href="#teamModal5" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                            <div class="team-caption">
                         <%= image_tag('is.jpg', class: 'img-responsive img-circle', alt: 'Isabel Salovaara') %>
                        <h2><font color="#ecf0f1">Isabel Salovaara</font></h2>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-item">
                        <a href="#teamModal6" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                         <div class="team-caption">
                        <%= image_tag('aa.jpg', class: 'img-responsive img-circle', alt: 'Anirudh Agrawal') %>
                        <h2><font color="#ecf0f1">Anirudh Agrawal</font></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <br>
                <div class="col-md-4 col-sm-6 team-item">
                        <a href="#teamModal3" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                         <div class="team-caption">
                        <%= image_tag('rs.jpg', class: 'img-responsive img-circle', alt: 'Rohini Sen') %>
                        <h2><font color="#ecf0f1">Rohini Sen</font></h2>
                    </div>
                </div>
        <div class="col-md-4 col-sm-6 team-item">
                         <a href="#teamModal2" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                            <div class="team-caption">
                         <%= image_tag('ab.jpg', class: 'img-responsive img-circle', alt: 'Ashish Bharadwaj') %>
                        <h2><font color="#ecf0f1">Ashish Bharadwaj</font></h2>
                    </div>
                </div>
         <div class="col-md-4 col-sm-6 team-item">
                         <a href="#teamModal4" class="team-link" data-toggle="modal">
                        <div class="team-hover">
                            <div class="team-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                            </div>
                            <div class="team-caption">
                         <%= image_tag('r.jpg', class: 'img-responsive img-circle', alt: 'R Sudarshan') %>
                        <h2><font color="#ecf0f1">R Sudarshan</font></h2>
                    </div>
                </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>
		</div>
		<section id="location" class="blog-image-snippet">
				<div class="background-image-holder parallax-background">
					<%= image_tag('jgu.jpg', class: 'background-image', alt: 'JGU') %>
				</div>
				
				<div class="container">			
					<div class="row">
						<div class="col-sm-12">		
							<a href="blog-single.html">
								<h1 class="text-white">Located on the campus of O.P. Jindal Global University</h1>
								<span class="text-white">A Private University Promoting Public Service</span>
								<span class="text-white"><i class="icon icon_pin_alt"></i> Sonipat, Delhi NCR, India</span>
								<a href="http://www.jgu.edu.in/" target="_blank"><span class="text-white"><i class="icon icon_link"></i>www.jgu.edu.in</span></a>
						</div>	
					</div>
				</div>
			</section>
		</div>
		<!-- Change the width and height values to suit you best -->
<section id="contact">
<div class="typeform-widget" data-url="https://jsie.typeform.com/to/X8q7PL" data-text="Contact Form" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></section>
		
    <!-- Team Modals -->
    <!-- Use the modals below to showcase details about each team members bios! -->

    <!-- Team 1 - Jeremy Wade -->
    <div class="team-modal modal fade" id="teamModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h1>Jeremy Wade</h1>
                          
							<ul class="social-icons">
								<li>
									<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jwadejeremy"-%></li>
								<li>
									<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/jeremy.wade"-%></i>
								</li>
								
								<li>
									<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://in.linkedin.com/in/jeremyjwade"-%>
								</li>
									<li>
									<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jeremy.jwade/"-%>
									</li>
							</ul>
					
						

                           <p class="item-intro text-muted"></p>
                            <p> Jeremy is the Founding Director of the Jindal Centre for Social Innovation & Entrepreneurship (JSiE). JSiE is an interdisciplinary initiative of OP Jindal Global University and aims to  strengthen the capacity of individuals and organizations to develop innovative solutions to complex social and environmental problems. Jeremy started his career at the United States Department of the Treasury where he helped supervise a portfolio of financial institutions in the aftermath of the Global Financial Crisis from 2008-2012. Following Jeremy’s time at the US Department of Treasury, he pursued a range of global experiences. These included a role in investment banking in Beijing, China and two research projects with the U.S. State Department’s Office of eDiplomacy VSFS program. These projects included working with the Foreign Service Institute’s international economics program and the U.S. Agency for International Development (USAID)’s Office of Global Climate Change. Previously, Jeremy has also held a leadership position on the steering committee at Slow Money, an NGO based in San Francisco for one year. Jeremy was awarded the Wall Street Journal Award for Academic Achievement in Finance and the Outstanding Male Senior Finance Student, Kelce School of Business in 2008. Jeremy teaches international business at the Jindal School for Liberal Arts & Humanities, is a Clinton Foundation 20/30 Founding Member and an active web developer. </a>. </p>

                            <h3>Blog Posts</h3>
                            <br>
                           	<script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@jwade/universities-of-the-future-c02a64e670d9">Universities of the Future</a>
                           	<script async src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://blog.jsie.in/building-a-social-innovation-lab-in-north-india-5b47d66fc8f#.gg5zu55rq">Building a Social Innovation Lab in North India</a>
                            <br>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team 2 Ashish -->
    <div class="team-modal modal fade" id="teamModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h1>Ashish Bharadwaj</h1>
                            <p class="item-intro text-muted"></p>
                            <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/ashishbharadwaj" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/ashishbharadwaj1" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            </ul>
                            <p> Dr. Ashish Bharadwaj is an Assistant Professor and Assistant Director of Centre for Intellectual Property & Technology Law, and Centre for Social Innovation and Entrepreneurship at Jindal Global Law School. He is a founding Editor of the Law and Policy Brief and a Convener of the Jindal Initiative for Research on IP & Competition (JIRICO). He is a recipient of the Max Planck Society doctoral fellowship (2009 - 2013) and has been an Erasmus Mundus scholar (2008-2009). Dr. Bharadwaj is an affiliated faculty at the Centre for Intellectual Property Research, Maurer School of Law, Indiana University Bloomington. He teaches economics and offers an elective on innovation and society; technology and policy. Dr. Bharadwaj's main areas of interest include industrial innovation and patents, innovation and IPR policies, and topics at the interface of patents and competition. In 2015, he was invited to present his work on national IPR policies in WIPO (Geneva), and in 2013, he received a grant from the STI Directorate of OECD to scope and populate the IP module of Innovation Policy Platform (an OECD and World Bank initiative). He obtained his Ph.D. from the Max Planck Institute for Innovation & Competition in Munich where he worked on patenting in green technologies across selected technologically proficient economies. In the past he has worked with India Development Foundation, Deutsche Bank Global Markets Research, OECD, World Wide Fund for Nature, and the University of Munich. He holds LL.M. in law and economics from Erasmus University Rotterdam, University of Hamburg, and University of Manchester; M.Sc. in economics from Madras School of Economics, and BA (Hons.) in economics from Delhi University. </p>
                            <p> 
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team 3 Rohini  Modal 3 -->
    <div class="team-modal modal fade" id="teamModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Rohini Sen</h2>
                            <p class="item-intro text-muted"></p>
                            <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/rohini_sen" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://in.linkedin.com/in/senrohini" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            </ul>
                            <p> Rohini is an Assistant Professor and Assistant Dean (International Collaborations) at the Jindal Global Law School, O.P Jindal Global University. She is also an Assistant Director in the Centre for Human Rights Studies, JGLS and a co-founder of the Jindal Centre for Social Innovation and Entrepreneurship (JSiE).  In 2014, Rohini was awarded the VLIR-UOS Scholarship to work with the Leuven Centre for Global Governance Studies in the FRAME project. She has since collaborated with the Centre for subsequent research projects and publications in the area of rule of law and EU-India free trade agreements. She recently participated in the fourth annual junior faculty forum at Florence, in 2015 as one of its laureates. She strongly believes in interdisciplinary research and better integration of the academic and practitioner interface. Rohini has obtained an LL.M. in International Law from the University of Leeds in 2012 and an Undergraduate Degree of B.Sc LLB Law from Gujarat National Law University (2006-2011).</p>
                            <p> 
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Team 4 R Sudarshan Modal 4 -->
    <div class="team-modal modal fade" id="teamModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>R Sudarshan</h2>
                            <p class="item-intro text-muted"></p>
                            <p>Sudarshan comes with a distinguished career in the three domains of research, development programme formulation and implementation, and governance. A nationally successful debater at the college level, Sudarshan was a Rhodes Scholar at the Balliol College, University of Oxford, where he obtained his M.Phil degree. He was Research Fellow at the St. John’s College, University of Cambridge for many years where he taught and carried out research on issues relating to law and public policy. Sudarshan holds a Masters degree from the Delhi School of Economics, University of Delhi where he held a UGC scholarship for Centre for Advanced Studies in Economics. Sudarshan has an impressive track record of publications comprising books, articles, and UN policy reports. He has a dozen years of experience in inter-disciplinary research and teaching in development economics, human development, law, state and poverty at the Universities of Delhi (1972-74), Oxford (1974-77), Cambridge (1977-82), and East Anglia (1982-83). He has another 28 years of experience in the United Nations Development Programme and the Ford Foundation related to public policy. </p>
                            <p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- Team 5 Isabel -->
    <div class="team-modal modal fade" id="teamModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Isabel Salovaara </h2>
                            <p class="item-intro text-muted"></p>
                            <p> Ms. Isabel Salovaara is an Assistant Director of the Jindal Centre for Social Innovation and Entrepreneurship and Senior Research Associate at the Jindal School of Liberal Arts and Humanities. She graduated summa cum laude in history from Harvard University in 2012. During her undergraduate studies, Ms. Salovaara spent a summer volunteering in anganwadis (government-run daycare centers) in Himachal Pradesh and a semester studying in Delhi.Her college coursework included studies of Hindi-Urdu, South Asian history, and socioeconomic development in India.

                            After completing her degree, Ms. Salovaara returned to India to study Hindi at the American Institute of Indian Studies in Jaipur through the U.S. State Department’s Critical Language Scholarship. Supported by a Harvard Pforzheimer Fellowship, she then worked for six months with a nonprofit organization in Delhi dedicated to implementing multi-faceted interventions to improve the lives of slum residents. Recently Ms. Salovaara worked in the education field in India, advising Indian high school students on the application process and academic transition to U.S. universities. 
                           	</p>
                            <p> 
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	 <!-- Team 6 Anirudh -->
    <div class="team-modal modal fade" id="teamModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Anirudh Agrawal</h2>
                            <p class="item-intro text-muted"></p>
                            <p> Anirudh Agrawal is an Assistant Professor, Jindal Global Business School. Previously, he was a PhD Fellow in Social Entrepreneurship at Copenhagen Business School researching on the institutional theory framework to reflect on debates in social entrepreneurship and social innovation. He is teaching short modules on social entrepreneurship, innovation in social media, social media management and business in emerging markets. He has a background in mechanical engineering, social entrepreneurship and consulting in emerging markets. </p>
                            <p> 
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
		<script> mixpanel.track("About");</script>		