<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="The Jindal Centre for Social Innovation & Entrepreneurship (JSiE)" />
  <meta property="og:description"   content="An award winning social impact centre within OP Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
        <div class="main-container">
        <section class="blog-image-snippet">
                <div class="background-image-holder">
                    <%= image_tag('isic9.jpg', class: 'background-image', alt: 'JGU') %>
                </div>
                <div class="spacer-100"></div>
                  <div class="spacer-100"></div>
                <div class="container">         
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">     
                                <h1 class="text-white">An award-winning social impact centre <br> at O.P. Jindal Global University</b></h1>
                        </div>  
                          <div class="spacer-10"></div>

                    </div>
                </div>
            </section>

        <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">About JSiE</span>
                            <h1><strong>Strengthening the capacity for social innovation in North India</strong></h1>
                            <p class="lead">
                                        The Jindal Centre for Social Innovation & Entrepreneurship (JSiE) at <a href="https://www.jgu.edu.in/"> O.P. Jindal Global University</a> is a global social impact centre. JSiE works to strengthen the <a href="https://www.eiuperspectives.economist.com/sites/default/files/Social_Innovation_Index_0.pdf">capacity for social innovation</a> in North India and joins a global network of actors working to enable higher education institutions, their students, faculty, and alumni to address the 21st century’s most pressing challenges. By building bridges between socially responsible leaders around the world for innovative teaching, startup incubation, and social impact research, JSiE aims to spur more inclusive economic growth and development in India and globally.

                            </p>
                        </div>
                    </div>
        
                </div>
            </section>
        <section class="side-image clearfix">
                <div class="image-container col-md-5 col-sm-4 pull-left">
                    <div class="background-image-holder">
                         <%= image_tag('jgu1.jpg', class: 'background-image', alt: 'JGU') %>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 content clearfix">
                            <h1>Impossible to Ignore.</h1>
                            <p class="lead">
                                As we enter 2018, the challenges facing humanity have become impossible to ignore. 82% of new wealth created in 2017 went to the richest 1%, while the poorest half made little to no progress, according to Oxfam. The time debate is over and the time for action to address inequality, in all of its dimensions, is here. <br> <br>

                                JSiE was founded in 2014 with a vision to spur inclusive growth and development in India and globally. Our approach has been to strengthen the capacity for social innovation in North India, empower young leaders to take action, and connect them with a global network of people working to address the 21st century’s most pressing challenges. 
                            </p>
                        
                            <div class="row">
                                <div class="col-md-6 no-pad-left">
                                    <%= link_to "Read the Annual Report", "https://indd.adobe.com/view/c8d31513-de05-423f-9d3f-9b9ac0cc20f5", :class => "btn btn-primary btn-filled" %>
                            
                                </div>
                            </div>          
                            </div>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </section>
        </div>
            <section class="duplicatable-content">
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Our focus</h1>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-genius"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Building Social Innovation Capacity</h5>
                                    <p>
                                        Achieving positive and sustainable change for communities and society requires us all to think differently. Social Innovation is about innovating <strong>for</strong> society. To realize its potential, we need rigour and clarity in the field of social innovation. According to the Social Innovation Index 2016 constructed by the Economist Intelligence Unit, the four pillars of social innovation capacity are: Institutional and policy framework, availability of financing, level of entrepreneurship, and depth of civil society networks. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-linegraph"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Research for the Social Impact Ecosystem</h5>
                                    <p>
                                        In addition to measuring  economic growth and GDP, we need robust systems to measure social impact and wellbeing. Social impact should be structured as an academic discipline and generate actionable insights for practitioners. Our research examines the spectrum of factors, from the individual entrepreneur to the broader ecosystem, that enable social entrepreneurship and innovation to flourish. We seek to develop holistic strategies and recommendations for fostering social innovation in North India.
                                    </p>
                                </div>
                            </div>
                        </div>
                  <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-desktop"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>India-Global Shared Value Partnerships</h5>
                                    <p>India's growing political and economic influence  in the 21st century will have a profound impact globally. There is no global challenge for which an understanding of the Indian perspective will not only deepen one’s knowledge but also provide a window into the solution. Our focus is global, and our aim is to partner globally for a two-way sharing of best practices in everything we do. 
                                    </p>
                                </div>
                            </div>
                       </div>
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-tools-2"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Open Innovation for Sustainable Development</h5>
                                    <p>
                                       As the global economy enters a fourth industrial revolution, it’s time to redefine capitalism in the 21st century. The future demands more models of open innovation and inclusive economic growth. The Sustainable Development Goals are a positive step. We believe increased levels of social innovation and entrepreneurship will bring us closer toward their achievement.  
                                    </p>
                                </div>
                            </div>
                        </div>
           </section>
            <section class="pure-text-contact primary-features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font"></span>
                            <h1 class="text-white"><strong>We're located in Delhi, India, and networked globally.</strong></h1>
 
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero22.jpg">
                </div>
            
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <ul class="expanding-ul">
                                 <li>
                                    <div class="title">
                                        <span><strong>Global Social Entrepreneurship Network (GSEN)</strong> </span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p class="text-white">
                                           GSEN is the global network for organisations supporting early stage social entrepreneurs.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <span><strong>UBI Global Incubation Impact & Network</strong></span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p class="text-white">
                                             UBI Global Incubation Impact & Network is a network of over 600 data driven, entrepreneurial centric, incubation programs from over 70 countries, in partnership with Cisco Corporate Affairs. 
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <span><strong>British Council Social Enterprise Program (SEEP)</strong></span> 

                                    </div>
                                    
                                    <div class="text-content">
                                        <p class="text-white">
                                            The British Council Social Enterprise Program (SEEP) is an initiative to build collaborative partnerships facilitating opportunities to students and faculty in India and the UK.
                                        </p>
                                    </div>
                                </li>
                                
                                
                                <li>
                                    <div class="title">
                                        <span><strong>Asia-Pacific Philanthropy Research Network</strong></span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p class="text-white">
                                            A network of philanthropy research centers in the Asia-Pacific region 
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
 </div>
        
                        </div>
                    </div>
        
                </div>
            </section>
                          <section class="primary-features duplicatable-content">
                <div class="container">
                    <div class="row">
        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_easel"></i>
                                    <h6 class="text-white">Learn</h6>
                                    <p class="text-white">
                                        We develop learning tools that enable leaders to take action on market-based approaches to social impact and experiment with social innovation ideas.  
                                    </p>
                                </div>
                            </div>
                        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_lightbulb"></i>
                                    <h6 class="text-white">Startup</h6>
                                    <p class="text-white">
                                        We design social innovation challenges and provide startup incubation services to support a rising generation of entrepreneurs  in India. 
                                    </p>
                                </div>
                            </div>
                        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_book"></i>
                                    <h6 class="text-white">Research</h6>
                                    <p class="text-white">
                                        We engage in research that contributes to the social impact ecosystem. Our aim is to bring together academics and practitioners in order to disseminate this knowledge globally.
                                    </p>
                                </div>
                            </div>
        
                    </div>
                
                </div>
            </section>
        <section class="timeline-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                            <h1>Our History</h1>  
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="timeline-event">
                                <div class="col-sm-6 col-md-push-6">
                                    <h2>2014</h2>
                                    <h5>Founded</h5>
                                </div>
                                
                                <div class="middle">
                                    <i class="icon icon-telescope"></i>
                                    <div class="vertical-line"></div>
                                </div>
                                
                                <div class="col-sm-6 col-md-pull-6">
                                    <p>
                                        The Jindal Centre for Social Innovation + Entrepreneurship was founded in 2014 at O.P. Jindal Global University with a vision to spur inclusive growth and development in India and globally. Our approach has been to strengthen the capacity for social innovation in North India, empower young leaders to take action, and connect them with a global network of people working to address the 21st century’s most pressing challenges. 
                                    </p>
                                </div>
                                
                                
                            </div>
                            
                            <div class="timeline-event">
                                <div class="col-sm-6">
                                    <h2>2015</h2>
                                    <h5> Became the Incubation Partner to Tibetan Entrepreneurship Development initiative</h5> 
                                </div>
                                
                                <div class="middle">
                                    <i class="icon icon-streetsign"></i>
                                    <div class="vertical-line"></div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <p>
                                        Since 2015, JSiE has hosted early-stage startup entrepreneurs from the Tibetan refugee community in India for a five-week residential pre-incubation program. Under the coordination of JSiE, the an incubation partner of the Central Tibetan Administration, the university community provides support and training to the entrepreneurs.
                                    </p>
                                    
                                </div>
                            </div>
                            
                            <div class="timeline-event">
                                <div class="col-sm-6 col-md-push-6">
                                    <h2>2016</h2>
                                    <h5>Launched the FutureLearn Social Enterprise Program</h5>
                                </div>
                                
                                <div class="middle">
                                    <i class="icon icon-heart"></i>
                                    <div class="vertical-line"></div>
                                </div>
                                
                                <div class="col-sm-6 col-md-pull-6">
                                    <p>
                                        Along with Middlesex University London, Living in Minca and the British Council, JSiE co-created the Future Learn Social Enterprise Program, a massive open online course (MOOC). Beginning from October 2016, 14,000+ learners from over 159 countries have joined the FutureLearn Social Enterprise Program. The three-course series has now engaged four cohorts of international learners to date.
                                    </p>
                                </div>
                                
                                
                            </div>
                            
                            <div class="timeline-event">
                                <div class="col-sm-6">
                                    <h2>2017</h2>
                                    <h5>Recieved award at the University of Oxford for work supporting social enterprenurs</h5>  
                                </div>
                                
                                <div class="middle">
                                    <i class="icon icon-global"></i>
                                    <div class="vertical-line"></div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <p>
                                      The Global HEI of 2017 award is for staff and social leaders across the community of global universities creating impact and innovation through social entrepreneurship and have exemplary progress in embedding a culture of social entrepreneurship across their institution and wider partnerships.
                                    </p>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
        
                </div>
            </section>
        </div>      
                     
            </section>
        </div>
	</div>
        <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 pull-left">
                            <h3 class="text-white">Let's Address the 21st Century's Biggest Global Challenges. <strong>Together.</strong></h3> 
                        </div>
                        
                        <div class="col-sm-4 col-xs-12 pull-right text-right">
                            <a href="#" class="btn btn-primary btn-filled btn-white">Contact us</a>
                        </div>
                    </div>
                </div>
            </section>


            <section class="text-center">
                <div class="container">
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1>Our Team</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="feature feature-9">    
                                <%= link_to about_jeremywade_path do %>
                                <%= image_tag('jwade.jpg', alt: 'Jeremy Wade') %>
                                <% end %>
                                <h4>Jeremy Wade</h4> <span>Founding Director</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                                <%= link_to about_isabelsalovaara_path do %>
                                <%= image_tag('is1.jpg', alt: 'Isabel Salovaara') %>
                                <% end %>
                                <h4>Isabel Salovaara</h4> <span>Assistant Director</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                               <%= image_tag('r.jpg', alt: 'R Sudarshan') %>
                                <h4>R Sudarshan</h4> <span>Faculty Chair</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                                <%= link_to about_mukulkumar_path do %>
                                <%= image_tag('mk.jpg', alt: 'Mukul Kumar') %>
                                <% end %>
                                <h4>Mukul Kumar</h4> <span>Senior Advisor</span> </div>
                            </div>
                      
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                <%= image_tag('mishaal.jpg', class: 'img-responsive img-circle', alt: 'Mishaal Nathani') %>
                                <h5>Mishaal Nathani</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                <%= image_tag('anish.jpg', class: 'img-responsive img-circle', alt: 'Anish Krishnan') %>
                                <h5>Anish Krishnan</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                               <%= image_tag('shine.jpg', class: 'img-responsive img-circle', alt: 'Shine Varghese') %>
                                <h5>Shine Varghese</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                 <%= image_tag('female.jpg', class: 'img-responsive img-circle', alt: 'Join Us') %>
                                <h5>Opportunities Available</h5>
                                <span><a href="https://jsie.typeform.com/to/JK2ReG">Join us!</a></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                </div>
            </section>
		</div>
     
    
         <header class="signup"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award-winning social impact centre <br>in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled"> 
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->    
                        </div>
                        
                    </div>  
            </header>
        </div>

     <%= render 'layouts/footer' %>
		<script> mixpanel.track("About");</script>		