<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="The Jindal Centre for Social Innovation & Entrepreneurship (JSiE)" />
  <meta property="og:description"   content="An award winning social impact centre within OP Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('intro77.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <br>
                            <h1 class="text-white space-bottom-small"><br>An award-winning social impact centre</h1>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">About</span>
                            <h1><strong>Strengthen the capacity for social innovation in North India</strong></h1>
                            <p class="lead">
                                        The Jindal Centre for Social Innovation & Entrepreneurship (JSiE) at <a href="https://www.jgu.edu.in/"> O.P. Jindal Global University</a> aims to be a premier global social impact centre. JSiE works to strengthen the <a href="https://www.eiuperspectives.economist.com/sites/default/files/Social_Innovation_Index_0.pdf">capacity for social innovation</a> in North India and joins a global network of actors working to enable higher education institutions, their students, faculty, and alumni to address the 21st century’s most pressing challenges. By building bridges between socially responsible leaders around the world for innovative teaching, startup incubation, and social impact research, JSiE aims to spur more inclusive economic growth and development in India and globally.

                            </p>
                        </div>
                    </div>
        
                </div>
            </section>
            <section class="primary-features duplicatable-content">
                <div class="container">
                    <div class="row">
        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_easel"></i>
                                    <h6 class="text-white">Learn</h6>
                                    <p class="text-white">
                                        We develop learning tools that enable leaders to take action on market-based approaches to social impact and experiment with social innovation ideas.  
                                    </p>
                                </div>
                            </div>
                        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_lightbulb"></i>
                                    <h6 class="text-white">Startup</h6>
                                    <p class="text-white">
                                        We design social innovation challenges and provide startup incubation services to support a rising generation of entrepreneurs  in India. 
                                    </p>
                                </div>
                            </div>
                        
                            <div class="col-md-4 col-sm-6 clearfix">
                                <div class="feature feature-icon-small">
                                    <i class="icon icon_book"></i>
                                    <h6 class="text-white">Research</h6>
                                    <p class="text-white">
                                        We engage in research that contributes to the social impact ecosystem. Our aim is to bring together academics and practitioners in order to disseminate this knowledge globally.
                                    </p>
                                </div>
                            </div>
        
                    </div>
                
                </div>
            </section>
            
            <section class="duplicatable-content">
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Our focus</h1>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-genius"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Building Social Innovation Capacity</h5>
                                    <p>
                                        Achieving positive and sustainable change for communities and society requires us all to think differently. Social Innovation is about innovating <strong>for</strong> society. To realize its potential, we need rigour and clarity in the field of social innovation. According to the Social Innovation Index 2016 constructed by the Economist Intelligence Unit, the four pillars of social innovation capacity are: Institutional and policy framework, availability of financing, level of entrepreneurship, and depth of civil society networks. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-linegraph"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Research for the Social Impact Ecosystem</h5>
                                    <p>
                                        In addition to measuring  economic growth and GDP, we need robust systems to measure social impact and wellbeing. Social impact should be structured as an academic discipline and generate actionable insights for practitioners. Our research examines the spectrum of factors, from the individual entrepreneur to the broader ecosystem, that enable social entrepreneurship and innovation to flourish. We seek to develop holistic strategies and recommendations for fostering social innovation in North India.
                                    </p>
                                </div>
                            </div>
                        </div>
                  <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-desktop"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>India-Global Shared Value Partnerships</h5>
                                    <p>India's growing political and economic influence  in the 21st century will have a profound impact globally. There is no global challenge for which an understanding of the Indian perspective will not only deepen one’s knowledge but also provide a window into the solution. Our focus is global, and our aim is to partner globally for a two-way sharing of best practices in everything we do. 
                                    </p>
                                </div>
                            </div>
                       </div>
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                    <i class="icon icon-tools-2"></i>
                                </div>
                                <div class="pull-right">
                                    <h5>Open Innovation for Sustainable Development</h5>
                                    <p>
                                       As the global economy enters a fourth industrial revolution, it’s time to redefine capitalism in the 21st century. The future demands more models of open innovation and inclusive economic growth. The Sustainable Development Goals are a positive step. We believe increased levels of social innovation and entrepreneurship will bring us closer toward their achievement.  
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        
                     
            </section>
        </div>
	</div>
        <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 pull-left">
                            <h3 class="text-white"><strong>Want to partner? </strong></h3> 
                        </div>
                        
                        <div class="col-sm-4 col-xs-12 pull-right text-right">
                            <a href="#" class="btn btn-primary btn-filled btn-white">Contact us</a>
                        </div>
                    </div>
                </div>
            </section>


            <section class="text-center">
                <div class="container">
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1>Our Team</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="feature feature-9">    
                                <%= link_to about_jeremywade_path do %>
                                <%= image_tag('jwade.jpg', alt: 'Jeremy Wade') %>
                                <% end %>
                                <h4>Jeremy Wade</h4> <span>Founding Director</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                                <%= link_to about_isabelsalovaara_path do %>
                                <%= image_tag('is1.jpg', alt: 'Isabel Salovaara') %>
                                <% end %>
                                <h4>Isabel Saloavaara</h4> <span>Assistant Director</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                               <%= image_tag('r.jpg', alt: 'R Sudarshan') %>
                                <h4>R Sudarshan</h4> <span>Faculty Chair</span> </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature feature-9"> 
                                <%= link_to about_mukulkumar_path do %>
                                <%= image_tag('mk.jpg', alt: 'Mukul Kumar') %>
                                <% end %>
                                <h4>Mukul Kumar</h4> <span>Senior Advisor</span> </div>
                            </div>
                      
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                <%= image_tag('mishaal.jpg', class: 'img-responsive img-circle', alt: 'Mishaal Nathani') %>
                                <h5>Mishaal Nathani</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                <%= image_tag('anish.jpg', class: 'img-responsive img-circle', alt: 'Anish Krishnan') %>
                                <h5>Anish Krishnan</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                               <%= image_tag('shine.jpg', class: 'img-responsive img-circle', alt: 'Shine Varghese') %>
                                <h5>Shine Varghese</h5>
                                <span>Research Assistant</span><br>
                            </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-4">
                            <div class="team-1-member">
                                 <%= image_tag('female.jpg', class: 'img-responsive img-circle', alt: 'Join Us') %>
                                <h5>Opportunities Available</h5>
                                <span><a href="https://jsie.typeform.com/to/JK2ReG">Join us!</a></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                </div>
            </section>
		</div>

		<section id="location" class="blog-image-snippet">
				<div class="background-image-holder parallax-background">
                    <%= link_to "http://www.jgu.edu.in/" do %>
                    <%= image_tag "jgu.jpg", class: "background-image" %>
                    <% end %>
				</div>
			
				<div class="container">			
					<div class="row">
						<div class="col-sm-12">		
								<h1 class="text-white">O.P. Jindal Global University</h1>
								<span class="text-white">A Private University Promoting Public Service</span>
								<span class="text-white"><i class="icon icon_pin_alt"></i> Sonipat, Delhi NCR, India</span>
								<a href="http://www.jgu.edu.in/" target="_blank"><span class="text-white"><i class="icon icon_link"></i>www.jgu.edu.in</span></a>
						</div>	
					</div>
				</div>
			</section>
		</div>
        <section class="pure-text-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font"></span>
                            <h1><strong>We're located in Delhi, India,<br> and networked globally.</strong></h1>
 
                <div class="background-image-holder parallax-background">
                    <img class="background-image" alt="Background Image" src="img/hero22.jpg">
                </div>
            
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                            <ul class="expanding-ul">
                                <li>
                                    <div class="title">
                                        <span><strong>British Council Social Enterprise Program (SEEP)</strong></span> 

                                    </div>
                                    
                                    <div class="text-content">
                                        <p>
                                            The British Council Social Enterprise Program (SEEP) is an initiative to build collaborative partnerships facilitating opportunities to students and faculty in India and the UK.
                                        </p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="title">
                                        <span><strong>Global Social Entrepreneurship Network (GSEN)</strong> </span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p>
                                           GSEN is the global network for organisations supporting early stage social entrepreneurs.
                                        </p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="title">
                                        <span><strong>UBI Global Incubation Impact & Network</strong></span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p>
                                             UBI Global Incubation Impact & Network is a network of over 600 data driven, entrepreneurial centric, incubation programs from over 70 countries, in partnership with Cisco Corporate Affairs. 
                                        </p>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="title">
                                        <span><strong>Asia-Pacific Philanthropy Research Network</strong></span>
                                    </div>
                                    
                                    <div class="text-content">
                                        <p>
                                            A network of philanthropy research centers in the Asia-Pacific region 
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
 </div>
        
                        </div>
                    </div>
        
                </div>
            </section>
    
         <header class="signup"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award-winning social impact centre <br>in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled"> 
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->    
                        </div>
                        
                    </div>  
            </header>
        </div>

     <%= render 'layouts/footer' %>
		<script> mixpanel.track("About");</script>		