<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="JSiE: An award-winning social impact centre in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsief2.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('jsie.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<br>
							<div class="spacer-60"></div>
							<h1 class="text-white space-bottom-medium">Strengthen tomorrow's leaders. <br> Impact the future. </h1>
							<%= link_to "Learn more", "#{root_path}#projects", :class => "btn btn-primary btn-filledhome" %>
						
						</div>
					</div>
				</div>
			</header>
		</div>
			<section class="strip bg-white" id="projects">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="http://jgu.edu.in/" target="_blank" ><h5>O.P. Jindal Global University</h5></a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<div class="main-container">
		<section class="blog-masonry bg-muted">
				<div class="container">
					<div class="row">
						<div class="spacer-50"></div>
						<div class="col-sm-12 text-center">
							<ul class="blog-filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".learn"><span>Learn</span></li>
								<li data-filter=".startup"><span>Startup</span></li>
								<li data-filter=".research"><span>Research</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="blog-masonry-container">
						
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner">
											<%= image_tag('learn5.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
										</a>
										<div class="post-title">
											<h2>Learn a better way of doing business</h2>
											<p>
												Join thousands of people learning together at FutureLearn's social enterprise program. High quality online education, co-created by JSiE and Middlesex University Business School. Try it for free. 
											 </p>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Earn a Certificate", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn-xs btn-primary btn-filled" %>
										</div>
									</div>
								</div>
							</div>
						</div>
							
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner quote-post">
									<div class="post-title">
											<h1>A startup incubator with a social mission</h1>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "http://www.jsie.in/startup", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					  </div>
					<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('sewe.jpg', class: 'background-image', alt: 'Women Empowerment Through Social Enterprise') %>
										</a>
										<div class="post-title">
											<h2>Activist to Entrepreneur:<br> Role of social enterprise in supporting women’s empowerment </h2>
											<p>
												 This research looks at mutually reinforcing linkage between women’s empowerment and social enterprise across five countries: the UK, the United States, Brazil, India, and Pakistan.  
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Research Publication", "https://www.britishcouncil.org/activist-entrepreneur-role-social-enterprise-supporting-women%E2%80%99s-empowerment", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
								<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/pJn0Lzwng4I"></iframe>
									<div class="post-title">
										<h2>Sonipat Social Innovation Challenge</h2>
										<p> We brought together students from universities and colleges around Sonipat to brainstorm creative solutions to local community challenges.
											</p>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Learn More", "https://blog.jsie.in/sonipat-social-innovation-challenge-e0602f1c245", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
							<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('seq8.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
										</a>
										<div class="post-title">
											<h2>Is there a social entrepreneur personality?</h2>
											<p>
												 Social entrepreneurs help build a world we want to to live in. What is unique about their personality? Help us figure it out. 
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Take the Survey", "https://jsie.typeform.com/to/tH1Wwc", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
										              <div class="col-md-4 col-sm-6 blog-masonry-item startup">
                                <div class="item-inner">
                                            <%= image_tag('foodrocket.jpg', class: 'background-image', alt: 'FoodRocket - Anish Krishnan') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>FoodRocket - Anish Krishnan</h2>
                                            <p>
                                             How a second year law student started a food delivery service in 6 days.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/foodrocket-how-a-second-year-student-started-a-food-delivery-service-in-6-days-933aa1e348eb", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner">
											<%= image_tag('isic9.jpg', class: 'background-image', alt: 'ISIC-15') %>
										<div class="post-title">
											<h2>International Social Innovation Challenge</h2>
											<p>
												The International Social Innovation Challenge (ISIC-15), was a “collab-etiton” bringing together top students from India, Pakistan and the UK to design solutions to the pressing global social challenge of empowering women through safer communities.
											</p>
											<div class="row">										
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "http://isic15.jsie.in/", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
                       </div>
					</div>
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/_333j3KPZeM"></iframe>
									<div class="post-title">
										<h2>Business Doing Good</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
							
						<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/hkqlnsmji98"></iframe>
									<div class="post-title">
										<h2>Turning Ideas into Action</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-idea-action", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('seq7.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
										</a>
										<div class="post-title">
											<h2>Investigating the Social Entrepreneur Personality</h2>
											<p>
												 This research aims to increase our understanding of personality traits of successful social entrepreneurs. 
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "https://blog.jsie.in/is-there-a-social-entrepreneur-personality-3f75503a311d#.60h7jsq9d", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>	
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/IsFcYTVm3kg"></iframe>
									<div class="post-title">
										<h2>Growing a Sustainable Business</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-sustainable-business", :class => "btn-xs btn-primary btn-filled" %>
									</div>
								</div>
							</div>
						</div>
					</div>
						
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>	
		</div>
					<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Viewed JSiE Landing Page");</script>			
				