<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="An award-winning social impact centre in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
		<div class="main-container">
					
			<header class="product-action">
				<div class="background-image-holder">
				<%= image_tag('abstract.jpg', class: 'background-image', alt: 'impact') %>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
							<%= image_tag('impactwords.png', class: 'background-image', alt: 'JSiE') %>
						</div>
					</div>
				</div>	
			</header>
			<section class="action-banner overlay">
				<div class="background-image-holder">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="text-white">Accelerating knowledge on social impact and entrepreneurship in India</h2>
							<div class="col-xs-12">
							<ul class="social-iconsH">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/", :target => "_blank"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein", :target => "_blank"-%>
								</li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/", :target => "_blank" -%>
									</li>
							</ul>
						</div>
						</div>
					</div>
				</div>
				
			</section>
	<section class="no-pad clearfix">
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
						<%= image_tag('learn8.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Online Courses</span>
							<h1 class="text-white">Education for Sustainable Development </h1>
							<p class="text-white">
								Learning better systems of resource distribution and equitable living to lead the way on innovation for sustainable development. 
							</p>
							<a href="http://www.jsie.in/learn" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
				</div>
			
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('jsie.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Startup Incubation</span>
							<h1 class="text-white">Advancing Entrepreneurship</h1>
							<p class="text-white">
								Building entrepreneurship capacity in India through incubation, training and executive education programs. 
							</p>
							<a href="http://www.jsie.in/startup" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
				</div>
				
			</section>

			
			<section class="no-pad clearfix">
					<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('intro77.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Research</span>
							<h1 class="text-white">Social Impact Knowledge</h1>
							<p class="text-white">
								Accelerating knowledge on social impact in emerging economies through national and global research projects and partnerships.
							</p>
							<a href="http://www.jsie.in/research" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('partners.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Partner</span>
							<h1 class="text-white">Partnerships for Change</h1>
							<p class="text-white">
								JSiE joins a global network of partners advancing social impact and entreprenuership globally. 
							</p>
							<a href="http://www.jsie.in/about" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
					
				</div>
				</div>
				
			</section>
		<div class="main-container">
		<section class="blog-masonry bg-muted">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="blog-filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".learn"><span>Online Courses</span></li>
							<li data-filter=".startup"><span>Startup Incubation</span></li>
								<li data-filter=".research"><span>Research</span></li>
								<li data-filter=".partner"><span>Partnerships</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="blog-masonry-container">
					  				<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner">
											<%= image_tag('intro88.jpg', class: 'background-image', alt: 'Tibetan') %>
										</a>
										<div class="post-title">
											<h2>Supporting Tibetan Entrepreneurship Across India</h2>
											<p>
												Tibetan entrepreneurs can create significant economic and social impact in their communities. Supporting them helps create an economically self-reliant Tibetan community in India, and in turn, helps preserve the unique and compassion-based Tibetan cultural heritage
											 </p>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Read the Story", "https://yourstory.com/2019/06/jindal-social-innovation-tibetan-refugee-entrepreneur", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
											<%= link_to "Our Program", "https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					  		<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner">
											<%= image_tag('people1.jpg', class: 'background-image', alt: 'Leadership, Action and Change') %>
										</a>
										<div class="post-title">
											<h2>Leadership, Action and Change: Online Executive Education Program</h2>
											<p>
												Leadership, Action and Change is a 4-month online executive education program on community organizing with experienced grassroots coaches and mentors.
											 </p>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Apply Now", "http://www.jsie.in/learn/lac", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
										</div>
									</div>
								</div>
							</div>
						</div>
			
					<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('sewe.jpg', class: 'background-image', alt: 'Women Empowerment Through Social Enterprise') %>
										</a>
										<div class="post-title">
											<h2>Activist to Entrepreneur:<br> Role of social enterprise in supporting women’s empowerment </h2>
											<p>
												 This research looks at mutually reinforcing linkage between women’s empowerment and social enterprise across five countries: the UK, the United States, Brazil, India, and Pakistan.  
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Research Publication", "https://www.britishcouncil.org/activist-entrepreneur-role-social-enterprise-supporting-women%E2%80%99s-empowerment", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>

								<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('bpact.jpg', class: 'background-image', alt: 'Bitimpact') %>
										</a>
										<div class="post-title">
											<h2>Blockchain For Social Impact</h2>
											<p>
												Bitimpact is an innovation and impact network started by JSiE dedicated to supporting the implementation of blockchain technology for social impact in India. Bitimpact aims to support builders and creators of blockchain technology in maximising their positive social impact.
											 </p>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "http://www.jsie.in/bitimpact", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
										</div>
									</div>
								</div>
							</div>
						</div>
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner quote-post">
									<div class="post-title">
											<h1>A startup incubator with a social mission</h1>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "http://www.jsie.in/startup", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					  </div>
						<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner">
											<%= image_tag('futurelearn.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
										</a>
										<div class="post-title">
											<h2>Learn a better way of doing business</h2>
											<p>
												Join thousands of people learning together at FutureLearn's social enterprise program. High quality online education, co-created by JSiE and Middlesex University Business School. Try it for free. 
											 </p>
											 <div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Earn a Certificate", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
										</div>
									</div>
								</div>
							</div>
						</div>


							<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('seq8.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
										</a>
										<div class="post-title">
											<h2>Is there a social entrepreneur personality?</h2>
											<p>
												 Social entrepreneurs help build a world we want to to live in. What is unique about their personality? Help us figure it out. 
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Take the Survey", "https://jsie.typeform.com/to/tH1Wwc", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>
						
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/_333j3KPZeM"></iframe>
									<div class="post-title">
										<h2>Business Doing Good</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>
							
						<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/hkqlnsmji98"></iframe>
									<div class="post-title">
										<h2>Turning Ideas into Action</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-idea-action", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
											<%= image_tag('seq7.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
										</a>
										<div class="post-title">
											<h2>Investigating the Social Entrepreneur Personality</h2>
											<p>
												 This research aims to increase our understanding of personality traits of successful social entrepreneurs. 
											</p>
											<div class="row">
											<div class="col-md-12 text-center">
											<%= link_to "Learn More", "https://blog.jsie.in/is-there-a-social-entrepreneur-personality-3f75503a311d#.60h7jsq9d", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>	
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/IsFcYTVm3kg"></iframe>
									<div class="post-title">
										<h2>Growing a Sustainable Business</h2>
										<div class="row">
										<div class="col-md-12 text-center">
											<%= link_to "Sign up", "https://www.futurelearn.com/courses/social-enterprise-sustainable-business", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
									</div>
								</div>
							</div>
						</div>
					</div>
						
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>	
		</div>
					<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Viewed JSiE Landing Page");</script>			
				