<% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Social Innovation Lab | Sustainability Leadership" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/futureleader-b2ee2f7e0ba3730a7e7ee7126441c6f250a9056d0ab6282d99547fcbc7439465.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <div class="loader">
    		<div class="spinner">
			  
			</div>
    	</div>
  <%= render 'layouts/nav' %>	
  	<div class="main-container">
  		 <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('ptable2.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-3">
                        </div>
                        <div class="col-md-4 ">
							<h1>Who says we can't build a sustainable future?</h1>
                            <p>Learn how to be a leader in sustainability, in business, government, civil society, or finance and make a real difference in your community</p>
                              <div class="spacer-20"></div>
                              <a href="http://www.jsie.in/learn" class="btn btn-primary btn-white btn-filled">Start Learning Today</a>
                            
                        </div>
                    
                    </div>
                </div>
            </header>
  	<section class="hero-slider">
				<ul class="slides">
					<li class="overlay">
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h4 class="text-white">Sustainable Future.</h4>
								</div>
								<div class="col-md-6 col-sm-3">
									<h4 class="text-white">Work Redefined.</h4>
								</div>
							</div>
						</div>
					</li>
					
					
				</ul>
			</section>	

			<section class="action-banner">
				<div class="background-image-holder">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2>Jindal Centre for Social Innovation + Entrepreneurship </h2>
							<div class="col-xs-12">
								<a href="http://www.jsie.in/learn" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
						</div>
					</div>
				</div>
				
			</section>
	
	<section class="no-pad clearfix">
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
						<%= image_tag('learn8.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Online Courses</span>
							<h1 class="text-white">Education for Sustainable Development </h1>
							<p class="text-white">
								Learning better systems of resource distribution and equitable living to lead the way on innovation for sustainable development. 
							</p>
							<a href="http://www.jsie.in/learn" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
				</div>
			
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('jsie.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">entrepreneurship</span>
							<h1 class="text-white">Advancing Entrepreneurship</h1>
							<p class="text-white">
								Building entrepreneurship capacity in India through incubation, training and executive education programs. 
							</p>
							<a href="http://www.jsie.in/startup" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
				</div>
				
			</section>

			
			<section class="no-pad clearfix">
					<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('eds2.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Research</span>
							<h1 class="text-white">Social Impact Knowledge</h1>
							<p class="text-white">
								Accelerating knowledge on social impact research projects and partnerships.
							</p>
							<a href="http://www.jsie.in/research" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
					
				</div>
				
				<div class="col-md-6 col-sm-12 no-pad">
				
					<div class="feature-box">
					
						<div class="background-image-holder overlay">
							<%= image_tag('partners.jpg', class: 'background-image', alt: 'Tibetan') %>
						</div>
						
						<div class="inner">
							<span class="alt-font text-white">Partner</span>
							<h1 class="text-white">Partnerships for Change</h1>
							<p class="text-white">
								JSiE joins a global network of partners advancing social impact and entreprenuership globally. 
							</p>
							<a href="http://www.jsie.in/about/partners" class="btn btn-primary btn-filled2">Learn More</a>
						</div>
					</div>
					
				</div>
				</div>
				
			</section>
			<section class="no-pad-bottom projects-gallery">
					<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1></h1>
						</div>
					</div>
					
				</div>
				
<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".learn"><span>Online Courses</span></li>
								<li data-filter=".startup"><span>Entrepreneurship</span></li>
								<li data-filter=".research"><span>Research</span></li>
								<li data-filter=".partner"><span>Partners</span></li>
							</ul>
						</div>
					</div>
					
					<div class="projects-container">
					
						<div class="col-md-6 col-sm-12 no-pad project development image-holder startup ">
							<div class="background-image-holder">
								<%= image_tag('intro88.jpg', class: 'background-image', alt: 'Tibetan') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white home-header">Supporting <strong>Tibetan Entrepreneurship </strong> Across India</h1>
									<%= link_to "Read the Story", "https://yourstory.com/2019/06/jindal-social-innovation-tibetan-refugee-entrepreneur", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
											<%= link_to "Our Program", "https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-12 no-pad project development image-holder learn">
							<div class="background-image-holder">
								<%= image_tag('futurelearn.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white home-header">Massive Open Online Course <br> Impact Investing: Profit and Purpose </h1>
									<%= link_to "Join the Course", "https://www.futurelearn.com/courses/impact-investing", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder learn">
							<div class="background-image-holder">
								<%= image_tag('lac6.png', class: 'background-image', alt: 'LAC') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white home-header">Leadership, Action and Change:<br> Executive Education Program</h1>
									<%= link_to "Apply Now", "https://docs.google.com/forms/d/e/1FAIpQLScXbR-3SgAcvWAXlJUqOQO0TRNz4-uZiv_DkIV-rUKLxNJ5TA/viewform?usp=sf_link", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
										<%= link_to "Learn More", "http://www.jsie.in/learn/lac", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
								</div>
								</div>
							</div>
						
						
						<div class="col-md-4 col-sm-6 no-pad project branding image-holder research">
							<div class="background-image-holder">
							<%= image_tag('sewe.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white home-header">Activist to Entrepreneur:<br> Role of social enterprise in supporting women’s empowerment</h1>
									<%= link_to "Read the Research Publication", "https://www.britishcouncil.org/sites/default/files/social_enterprise_and_womens_empowerment_july.pdf", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
								</div>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6 no-pad project print image-holder learn">
							<div class="background-image-holder">
								<%= image_tag('futurelearn2.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white home-header"><strong>Massive Open Online Course <br> <strong>FutureLearn Social Enterprise Program</strong></h1>
									<%= link_to "Earn a Certificate", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn-xs btn-primary btn-filled", :target => "_blank" %>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</section>

		</div>
		</div>	
		</div>
					<section class="action-banner overlay2"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</section>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Viewed JSiE Landing Page");</script>			
				