<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="JSiE: Social Innovation Lab & Startup Academy in North India" />
  <meta property="og:description"   content="Jindal Centre for Social Innovation & Entreprepreneurship, O.P. Jindal GLobal University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('jsie.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-medium"><br>A Social Innovation Lab <br> in North India</h1>
							<%= link_to "Learn", "http://jsie.in/learn/", :class => "btn btn-primary btn-white" %>
							<%= link_to "Startup", "http://startupacademy.jsie.in/", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
			</header>
		</div>
			<section class="strip bg-white">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="https://jsie.typeform.com/to/X8q7PL" target="_blank" class="btn btn-primary btn-grey">Contact Us</a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/company/jindal-centre-for-social-innovation"-%>
								   </li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>
	    <script> mixpanel.track("Viewed JSiE Landing Page");</script>			
				
	
				