<%= render 'layouts/nav' %>	
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="A Social Innovation Lab in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('jsie.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-medium"><br>You have a vision of a better future.</h1>
							<%= link_to "Let's build it together", "#{root_path}#projects", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
			</header>
		</div>
			<section class="strip bg-white" id="projects">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="https://jsie.typeform.com/to/X8q7PL" target="_blank" class="btn btn-primary btn-grey">Contact Us</a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/company/jindal-centre-for-social-innovation"-%>
								   </li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<div class="main-container">
		<section class="blog-masonry bg-muted">
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<ul class="blog-filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".learn"><span>Learn</span></li>
								<li data-filter=".startup"><span>Startup</span></li>
								<li data-filter=".research"><span>Research</span></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="blog-masonry-container">
						
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner">
									<a href="blog-single.html">
											<%= image_tag('futurelearn1.jpg', class: 'background-image', alt: 'FutureLearn Social Enterprise Program') %>
										</a>
										<div class="post-title">
											<h2>Learn what it takes to launch a social enterprise</h2>
											<p>
												Join thousands of people learning together at FutureLearn's social enterprise program. High quality online education, co-created by JSiE and Middlesex University Business School. Try it for free. 
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Earn a certificate</span>
												<span class="sub alt-font">Rs. 12,500</span>
											</div>
											<a href="https://www.futurelearn.com/programs/social-enterprise" class="link-text">Sign Up Now</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner quote-post">
									<div class="post-title">
											<h1>A startup incubator with a social mission</h1>
											<div class="post-meta">
												<span class="sub alt-font">Have startup idea?</span>
												<span class="sub alt-font"></span>
											</div>
											<a href="https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730#.on1rlbv5l" class="link-text">Learn More</a>
									</div>
								</div>
							</div>
						
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner">
									<%= image_tag('climate.jpg', class: 'background-image', alt: 'Artificial Intelligence Combating Climate Change') %>
										<div class="post-title">
											<h2>Can Artificial Intelligence Help us Combat Climate Change?</h2>
											<p>
												We are partnering with IRIS.ai to host a 'scithon' (Science Hackathon) and innovation challenge in Delhi in 2017. 
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Innovation Challenge</span>
												<span class="sub alt-font">Delhi 2017</span>
											</div>
											<a href="https://blog.jsie.in/can-artificial-intelligence-help-us-combat-climate-change-67b590f25ec8#.ymsogn355" class="link-text">Learn More</a>
									</div>
								</div>
							</div>
						
							<div class="col-md-4 col-sm-6 blog-masonry-item research">
								<div class="item-inner">
									<a href="blog-single.html">
											<%= image_tag('seq7.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
										</a>
										<div class="post-title">
											<h2>Help us discover the social entreprenueur personality</h2>
											<p>
												 This research aims to increase our understanding of personality traits of successful social entrepreneurs. 
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Research Project</span>
												<span class="sub alt-font"></span>
											</div>
											<a href="http://www.jsie.in/research/seq" class="link-text">Learn More</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 blog-masonry-item startup">
								<div class="item-inner">
											<%= image_tag('isic9.jpg', class: 'background-image', alt: 'ISIC-15') %>
										<div class="post-title">
											<h2>Empowering Women Through Safer Communities</h2>
											<p>
												The International Social Innovation Challenge (ISIC-15), was a “collab-etiton” bringing together top students from India, Pakistan and the UK to design solutions to the pressing global social challenge of empowering women through safer communities.
											</p>
											<div class="post-meta">
												<span class="sub alt-font">Innovation Challenge</span>
												<span class="sub alt-font">Delhi 2015</span>
											</div>
											<a href="http://isic15.jsie.in/" class="link-text">Learn More</a>
									</div>
								</div>
							</div>

							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/_333j3KPZeM"></iframe>
									<div class="post-title">
										<h2>Business Doing Good</h2>
										<div class="post-meta">
											<span class="sub alt-font">Starts February 6th, 2017</span>
											<span class="sub alt-font">Online Course</span>
										</div>
										<a href="blog-single.html" class="link-text">Sign Up</a>
									</div>
								</div>
							</div>
							
						<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/hkqlnsmji98"></iframe>
									<div class="post-title">
										<h2>Turning Ideas into Action</h2>
										<div class="post-meta">
											<span class="sub alt-font">Starts March 6th, 2017</span>
											<span class="sub alt-font">Online Course</span>
										</div>
										<a href="blog-single.html" class="link-text">Sign Up</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 blog-masonry-item learn">
								<div class="item-inner video-post">
									<iframe src="https://www.youtube.com/embed/IsFcYTVm3kg"></iframe>
									<div class="post-title">
										<h2>Growing a Sustainable Business</h2>
										<div class="post-meta">
											<span class="sub alt-font">Starts April 6th, 2017</span>
											<span class="sub alt-font">Online Course</span>
										</div>
										<a href="blog-single.html" class="link-text">Sign Up</a>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>	
		</div>
					<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">We're developing a toolkit for social innovators.<br>Stay in touch for updates on it.</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Viewed JSiE Landing Page");</script>			
				
	
				