<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/impactislamabad" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Impact Islamabad: Building Bridges, Catalyzing Solutions"/>
  <meta property="og:description"   content="Apply to Join the Indian Delegation" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impactpak5-b9211c94dc6c2824cc624966218c6e5c1afbde5649b6dda26dfc1ce23efc0b79.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('impactpak2.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">Impact Islamabad</h1>
                            <h2 class="text-white">Bringing together leading social entreprenuers from across South Asia</h2>
                            <h3 class="text-white"> Apply to join the Indian delegation of leading social entrepreneurs from India and travel to Pakistan for Impact Islamabad</h3>
                              <div class="spacer-20"></div>
                            <%= link_to "Apply to Join the Indian Delegation", "https://jsie.typeform.com/to/NkqtPN", :class => "btn btn-primary btn-white btn-filled" %>
                            
                        </div>
                    </div>
                </div>
            </header>
        </div>
         <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <h4>Creating cross-border linkages for social impact</h4>
                            <p class="lead">
                                   The Social Innovation Lab (SIL), Lahore University of Management Sciences in partnership with AGHAEZ professional services are hosting
                                   IMPACT Islamabad on November 18-21, 2018. The objective of this conference is to strengthen community linkages between social entrepreneurs across South Asia through sharing of networks, resources and knowledge. 
                                   

                            </p>
                            <h4>Tackling Regional Challenges</h4>
                            <p>
                                The three day conference aims to:
                                    1) Introduce the Power Triangle Method in the context of social entrepreneurship and apply it to tackle.
                                   regional challenges. 2) Map out SDGs and impact interventions across the region to connect interventions.
                                    3) identify gaps and opportunities in networks, resources and knowledge to come up with collaborative
                                   solutions in order to achieve the SDGs. The conference format will include two closed-group mapping and prototyping days with participating entrepreneurs and domain leaders from the field, with the third day being open to the public.</p>
                                 <h4> Conference Partners </h4>
                                 <div class="row text-align-center">
                                <%= image_tag('sil1.png', class: 'img-responsive', alt: 'Social Innovation Lab') %>
                                <%= image_tag('aghs.png', class: 'img-responsive', alt: 'AGHAEZ professional services') %>
                              </div>
 
                            </div>
                        </div>
                    </div>
        
                </div>
            </section>
            	<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("ppc");</script>	