<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="About the Jindal Centre for Social Innovation + Entrepreneurship" />
  <meta property="og:description"   content="An award winning social impact centre within OP Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
<div class="main-container">
			<header class="title">
					<div class="background-image-holder">
						<%= image_tag('stat3.png', class: 'background-image', alt: 'JSiE') %>
					</div>
					
					<div class="container align-bottom">
						<div class="row">
							<div class="col-xs-12">
								<h1 class="text-white"></h1>
								<span class="sub alt-font text-white"></span>
								 <div class="spacer-75"></div>
							</div>
						</div>
					</div>
			</header>
		</div>
		<section class="text-image-bottom bg-white">
				<div class="container">
				
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1>JSiE works to create real social impact by engaging with knowledge on social innovation and entrepreneurship to address some of the most pressing challenges facing humanity today.</h1>
						</div>
					</div>
			</section>
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="feature">
								<h5>Online Courses</h5>
								<p>
									We offer transdisciplinary courses on social innovation and enterprise available to students across India certified by some of the top universities globally.
								</p>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Entrepreneurship</h5>
								<p>
									We design social innovation challenges and provide start-up incubation services to support a rising generation of entrepreneurs in India.
								</p>
							</div>
						</div>
					
						<div class="col-sm-4">
							<div class="feature">
								<h5>Research</h5>
								<p>
									We engage in research that contributes to the social impact ecosystem. Our aim is to bring together academics and practitioners to disseminate knowledge and inspire practice.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="strip bg-primary">
				<div class="container">
					<div class="row clearfix">
						<div class="col-xs-12">
							<h2 class="text-white"><strong>4 Massive Open Online Courses | 52,000+ students | 159 countries </strong></h2>
						</div>
					</div>
				</div>
			</section>
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h1 class="space-bottom-medium">Impact Investing: Profit and Purpose</h1>
							<p class="lead space-bottom-medium">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created with Middlesex University Business School.
							</p>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
								<iframe width="100%" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">
								
								</iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
			<section class="video-inline">
				<div class="container">
					<div class="row">

						
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
								<iframe width="100%" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">
								
								</iframe>
							</div>
						</div>
						<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good</h1>
							<p class="lead space-bottom-medium">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created with Middlesex University Business School.
							</p>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
					</div>
				</div>
			</section>
		<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good</h1>
							<p class="lead space-bottom-medium">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created with Middlesex University Business School.
							</p>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
						
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
								<iframe width="100%" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">
								
								</iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
			<section class="video-inline">
				<div class="container">
					<div class="row">

						
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
								<iframe width="100%" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">
								
								</iframe>
							</div>
						</div>
						<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good</h1>
							<p class="lead space-bottom-medium">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created with Middlesex University Business School.
							</p>
							<a href="#" class="btn btn-primary btn-text-only">Learn More</a>
						</div>
					</div>
				</div>
			</section>
			<section class="strip bg-primary">
				<div class="container">
					<div class="row clearfix">
						<div class="col-xs-12">
							<h2 class="text-white"><strong>5 Cohorts | 5 years | 20 Tibetan Entreprenuers Supported</strong></h2>
						</div>
					</div>
				</div>
			</section>


				<section class="feature-divider">					
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<h1>Social Enterprise: Business Doing Good</h1>
							<p class="lead">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created by FutureLearn.
							</p>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/app-store.png"></a>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/google-play.png"></a>
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
							<%= image_tag('back6.png', class: 'background-image', alt: 'JSiE') %>
						</div>
					</div>
				</div>
			</section>
		</div>
				<section class="strip bg-primary">
				<div class="container">
					<div class="row clearfix">
						<div class="col-xs-12">
							<h2 class="text-white"><strong>8 research publications</strong></h2>
						</div>
					</div>
				</div>
			</section>
				<section class="feature-divider">					
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<h1>Social Enterprise: Business Doing Good</h1>
							<p class="lead">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created by FutureLearn.
							</p>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/app-store.png"></a>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/google-play.png"></a>
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
							<%= image_tag('back6.png', class: 'background-image', alt: 'JSiE') %>
						</div>
					</div>
				</div>
			</section>
		</div>
				<section class="strip bg-primary">
				<div class="container">
					<div class="row clearfix">
						<div class="col-xs-12">
							<h2 class="text-white"><strong>Past Initatives</strong></h2>
						</div>
					</div>
				</div>
			</section>
				<section class="feature-divider">					
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<h1>Social Enterprise: Business Doing Good</h1>
							<p class="lead">
								Designed for upcoming entrepreneurs, this course explores the foundation of social enterprise and its relation to sustainable development by evaluating enterprise in the context of global and local problems. Co-created by FutureLearn.
							</p>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/app-store.png"></a>
							<a class="store-link" href="#"><img alt="Buy On App Store" src="img/google-play.png"></a>
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
							<%= image_tag('back6.png', class: 'background-image', alt: 'JSiE') %>
						</div>
					</div>
				</div>
			</section>





		