<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/learn/impinv" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Impact Investing: Profit and Purpose | MOOC" />
  <meta property="og:description"   content="Learn how the power of finance can generate financial returns and tackle today's global challenges" />
  <meta property="og:image"         content="http://www.jsie.in/assets/impact1-bef86849769a8abc77b09d57364608b2e861ede29e2feca2fe795faeb5ad1348.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
          <header class="page-header1">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('backgroundblue.png', class: 'background-image', alt: 'JSiE') %>
                </div>
              </header>
              <section class="product-right">
			
				<div class="background-image-holder">
				
				
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<h2>Learn how the power of finance can generate financial returns and tackle today's global challenges.</h2>
							<p class="lead">
								
							</p>
							<%= link_to "Join the Course","https://www.futurelearn.com/courses/impact-investing?utm_campaign=jindal_centre_impact_investing_may_2019&utm_medium=organic_blog&utm_source=blog", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
				
				<div class="product-image" data-scroll-reveal="enter right and move 100px">
					<%= image_tag('mooc.png', class: 'background-image', alt: 'JSiE') %>
				</div>
			
			</section>
		</div>
    <section class="action-banner overlay"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">   
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->
                                
                        
                        </div>
                        
                    </div>  
            </section>

     <%= render 'layouts/footer' %>
		<script> mixpanel.track("impinv");</script>		


