<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/investmentforgood" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Investment for Good" />
  <meta property="og:description"   content="India-China Learning Exchange Program: October 1-7, 2018" />
  <meta property="og:image"         content="http://www.jsie.in/assets/ifg-9791bfea3f9b82ae1a116d655b17897a9f12bcf04cfda83a324081a936a4a4e3.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('ifg.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">Investment for Good</h1>
                            <h2 class="text-white">India-China Learning Exchange Program <br> October 1-7, 2018</h2>
                              <div class="spacer-20"></div>
                            <%= link_to "Join", "https://jsie.typeform.com/to/Ru36KU", :class => "btn btn-primary btn-white btn-filled" %>
                            <%= link_to "Learn More", "http://pimchina.org/en/investment_for_good/", :class => "btn btn-primary btn-white btn-filled" %>
                        </div>
                    </div>
                </div>
            </header>
        </div>
         <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <h4> Connect with a group of rising young leaders from China</h4>
                            <p class="lead">"Investment for Good" will convene a cohort of rising young leaders from China. The delegation will include graduate students and young professionals, coming together to learn from Delhi's emerging impact investment ecosystem. Participants are coming from China's major urban hubs Beijing, Shanghai and Shenzhen, and are graduates of top global universities including Oxford, Duke University, Tsinghua University and more. Their professional experiences are varied, including: developing a city-level digital platform for shared parking in Shenzhen, consulting on local economic policies with a focus on high-tech enterprise and VC/PE, scaling one of China's most successful online education start-ups, designing a handicraft training program and garnering corporate support to empower women in rural areas of Nepal. 
                            <br>
                            <h4>Be a part of this India-China learning exchange</h4> 
                            <p class="lead">We are looking for a group of enthusiastic and driven social entrepreneurs and social impact leaders to interact with the Chinese participants, and share about their work in India.  It is an unique opportunity for cross cultural learnings and to build bridges between Asia's fastest growing economies. Those selected will join several roundtable and panel discussions with other Indian social impact leaders, and will have the opportunity to stay for networking and social events. </p>

                            <p class="lead"><b>Eligibility & Requirements:</b><br>
                            Applicants should be a social entrepreneur under 35 years old, with a social enterprise that is early stage (between 1-5 years). Selected participants will have the opportunity to present and get feedback on their social enterprise business model from peers and mentors through social impact workshops. </p>

                            <p class="lead"><b>Time Commitment:</b><br>
                            Meet & Greet Social - 1st October evening<br>
                            Full-Day Social Impact Workshops - 5th October<br>
                            China-India Entrepreneurship & Policy Roundtable - 5th October evening<br>  
                            Participants are welcome to participate in other optional discussions and site visits on 2-4th October (full schedule to be shared once accepted)

                    
                            </p>
                            <h4>Learn the foundations of impact investing</h4>
                            <p class="lead">
                                Through "Investment for Good," participants will develop a deeper understanding of impact investing, experience India's vibrant social enterprise ecosystem, while building lasting bridges between China and India's next generation of changemakers. </p>
                                 <h4> Program Partner</h4>
                                 <%= image_tag('pimlogo.jpg', class: 'img-responsive', alt: 'PIM') %>
                                
                                
                            
                                 
                            </div>
                        </div>
                    </div>
        
                </div>
            </section>
            	<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("investmentforgood");</script>	