<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/isabelsalovaara" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Isabel Salovaara: Bio" />
  <meta property="og:description"   content="Assistant Director, JSiE" />
  <meta property="og:image"         content="<%=asset_url('is1.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>

		<div class="main-container">
		<section class="article-single">
				<div class="container">
					<div class="row">
		
						<div class="col-sm-4 col-md-3">
							<div class="author-details no-pad-top">
								<%= image_tag('is1.jpg', class: 'img-responsive img-circle', alt: 'Isabel Salovaara') %>
								<h5>Isabel Salovaara</h5>
								<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_medium\"></i>".html_safe, "https://medium.com/@ISalovaara"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/in/isabel-salovaara-11668543/"-%>
							    </li>
							</ul>	

							</div>
						</div>
									
						<div class="col-sm-8">
							<div class="article-body">
									<p class="lead"> Isabel Salovaara, Assistant Director <br> Jindal Centre for Social Innovation and Entrepreneurship</p>

									<p>
									A native of Chicago, Isabel Salovaara joined JSiE in 2016. She coordinates the Centre’s research efforts, which span a variety of disciplines and focus areas, from innovations in internet-based pedagogy to women’s leadership in the social enterprise sector. Isabel also contributes to JSiE’s enterprise education and incubation initiatives.</p>  
									<p>
									Concurrently with her work in JSiE, Isabel is also a Senior Research Associate at the Jindal School of Liberal Arts and Humanities and teaches a course on community engagement. Through this course, she brings students to work in government schools of several villages surrounding O.P. Jindal Global University.</p>
									<p>
									Prior to joining the University, Isabel interfaced with the social entrepreneurship field from a variety of angles, including volunteering in the innovative Health Leads program to provide clinic-based social services, developing the application process for a social venture fund at Harvard Law School, and working for an educational consulting startup in Delhi. </p>
									<p>
									Isabel completed her B.A in History from Harvard University in 2012. Supported by a Harvard Pforzheimer Fellowship, she subsequently worked with a nonprofit organization in Delhi dedicated to implementing multi-faceted interventions to improve the lives of slum residents. She has been the recipient of a Fulbright-Nehru Research Grant to study private tuitions in Delhi and a Gates Scholarship to pursue her MPhil in Social Anthropology from the University of Cambridge. 
 
									</p>
								
							</div>
						</div>
					</div>
				</div>	
			</section>
		</div>