<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/jeremywade" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade: Bio" />
  <meta property="og:description"   content="Founding Director, JSiE" />
  <meta property="og:image"         content="<%=asset_url('jwade.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-100"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>Our Team</h1>
						</div>
					</div>
				</div>
			</header>
		</div>
		<section class="article-single">
				<div class="container">
					<div class="row">
		
						<div class="col-sm-4 col-md-3">
							<div class="author-details no-pad-top">
								<%= image_tag('jwade.jpg', class: 'img-responsive img-circle', alt: 'Jeremy Wade') %>
								<h5>Jeremy Wade</h5>
								<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jwadejeremy"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/in/jeremyjwade/"-%>
							    </li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jwadejeremy/"-%>
									</li>
							</ul>	

							</div>
						</div>
									
						<div class="col-sm-8">
							<div class="article-body">
									<p class="lead"> Jeremy Wade, Founding Director <br> Jindal Centre for Social Innovation and Entrepreneurship</p>

									<p>
									Originally from the United States, Jeremy began his career at the U.S. Department of the Treasury, where he helped supervise a portfolio of financial institutions in the aftermath of the Global Financial Crisis from 2008-2012. He moved to Delhi, India in 2012 to gain a deeper understanding of the intersection of global finance, politics and social impact. Jeremy continued to pursue this intersection by working in investment banking in Beijing, China and completing two research projects with the U.S. State Department’s Office of eDiplomacy VSFS program. 
									<p>
									Jeremy's vision of a social innovation lab focused on inclusive economic growth came to fruition at O.P. Jindal Global University in 2014. In addition to JSiE, he is a co-creator and educator of the FutureLearn Social Enterprise Program and teaches international business at the Jindal School for Liberal Arts and Humanities. Jeremy was awarded the Wall Street Journal Award for Academic Achievement in Finance and the Outstanding Male Senior Finance Student, Kielce School of Business in 2008 and was the 2003 Ottawa County, Oklahoma Athlete of the Year. Jeremy is an active web developer and a Clinton Foundation 20/30 founding member. 
								</p>
								
							</div>
						</div>
					</div>
				</div>	
			</section>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Jeremy bio");</script>	
				