<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/jeremywade" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade: Bio" />
  <meta property="og:description"   content="Founding Director, JSiE" />
  <meta property="og:image"         content="http://www.jsie.in/assets/jwade-939703f516b5664668fb1e18a63d68451b14f37796de80d03506b0cd1bb2798a.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-30"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>Our Team</h1>
						</div>
					</div>
				</div>
			</header>
		</div>
		<section class="article-single">
				<div class="container">
					<div class="row">
		
						<div class="col-sm-4 col-md-3">
							<div class="author-details no-pad-top">
								<%= image_tag('jwade.jpg', class: 'img-responsive img-circle', alt: 'Jeremy Wade') %>
								<h5>Jeremy Wade</h5>
								<h6>email: jeremy@jsie.in</h6>
								<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jwadejeremy", :target => "_blank"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/in/jeremyjwade/", :target => "_blank"-%>
							    </li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jwadejeremy/", :target => "_blank"-%>
									</li>
							</ul>	
							</div>
						</div>
									
						<div class="col-sm-8">
							<div class="article-body">
									<p class="lead"> Jeremy Wade, Founding Director</p>

									<p>
									Jeremy is the Founding Director of the Jindal Centre for Social Innovation + Entrepreneurship and an Assistant Professor at O.P. Jindal Global University. Originally from the United States, Jeremy began his career at the U.S. Department of the Treasury, where he helped supervise a portfolio of financial institutions in the aftermath of the Global Financial Crisis from 2008-2012. </p>  

									<p>
									Jeremy moved to Delhi, India in 2012 to gain a deeper understanding of the intersection of global finance, technology and social impact. Jeremy's vision to create a social impact centre and innovation lab focused on sustainable economic growth came to the fruition at O.P. Jindal Global University in 2014.

							
									<br>
							

								</p>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<section class="accordion-section">
				<div class="container">
						<div class="col-md-4">
							<ul class="accordion">
								<li class="active">
									<div class="title"><span>Academic Publications</span></div>
									<div class="text">
									
										<p>
										Mariya Jilinskaya-Pandey and Jeremy Wade. "Social entrepreneur quotient: An international perspective on social entrepreneur personalities." Journal of Social Entrepreneurship (2019).
										</p>
										<p>
											Gopa Nayak, Isabel M. Salovaara, and Jeremy Wade. "Self-regulated learning in refugee Entrepreneurship education: A university-based program for Tibetan entrepreneurs in India." Diaspora, Indigenous, and Minority Education (2018): 1-16.
										</p>
										<p>
											Sara Calvo, Andres Morales, and Jeremy Wade. "The use of MOOCs in social enterprise education: an evaluation of a North–South collaborative FutureLearn program." Journal of Small Business & Entrepreneurship (2018): 1-23.
										</p>
										<p>
											Wade, J., 2018. Future Labs: A Vision for Indian Higher Education. Jindal School of Liberal Arts &Humanities Journal Volume 1 | Issue 2
										</p>
									</div>
								</li>
							
								<li>
									<div class="title"><span>Media Publications</span></div>
									<div class="text">
										<p>
											Salovaara, I. And Wade, J., and, 2018. How to Support Women Social Entrepreneurs in India. Stanford Social Innovation Review, [Online] 14.03.2018.
										</p>	
										<p>
											Salovaara, I. And Wade, J., 2018. Women, Prosperity, and Social Change in India. Stanford Social Innovation Review, [Online] 14.02.2018.
										</p>
										<p>
											Salovaara, I. And Wade, J., 2018. Rethinking Women’s Work in India. Stanford Social Innovation Review, [Online] 4.04.2018.
										</p>
									</div>
								</li>
	
							</ul>
						</div>
					
						<div class="col-md-4">
							<ul class="accordion">
								<li class="active">
									<div class="title"><span>Affliliations</span></div>
									<div class="text">
										<p>
											Co-Founder, Armadillo Digital 
										</p>
										<p>
											Advisory Board Member, Birla Institute of Management Technology, Centre for Innovation and Entrepreneurship Development 
										</p>
										<p>
										Mentor, Singularity University Ventures Program 
										</p>
										<p>
										Mentor, Nasdaq Entrepreneurial Center Milestone Makers India Program
										</p>
										<p>
										Founding Member, Clinton Foundation 20/30
										</p>
										</div>
								</li>
							
								<li>
							
								<li>
									<div class="title"><span>Previous Professional Experience</span></div>
									<div class="text">
										<p>
										U.S. Agency for International Development (USAID) Sep. 2013 – Jan. 2014, Virtual Student Federal Service, Research Assistant
										</p>
										<p>
										U.S. State Department, Foreign Service Institute Jan 2013 - May 2013, Virtual Student Federal Service, Research Assistant
										</p>
										<p>
										U.S. Treasury Department, Office of the Comptroller of the Currency, San Francisco, USA, Associate National Bank Examiner (2008–2012)
										</p>

									</div>
								</li>

							</ul>
						</div>
						<div class="col-md-4">
							<ul class="accordion">
								<li class="active">
									<div class="title"><span>Courses Taught</span></div>
									<div class="text">
										<p>
											Impact Investing, FutureLearn online course (2018-Present)
										</p>
										 <p>
											Global Economy, Jindal School of Liberal Arts & Humanities (2017)
										</p>
										 <p>
											Social Enterprise, Jindal Global Business School (2017)
										</p>
										 <p>
											International Business, Jindal School of Liberal Arts & Humanities (2016)
										</p>
										 <p>
											Social Enterprise, FutureLearn online program (2016-18)
										</p>
										 <p>	
											Social Innovation & Technology Policy, Jindal Global Law School (2015)
										</p>
										 <p>
									</div>
								</li>
							
								<li>
									<div class="title"><span>Education</span></div>
									<div class="text">
										<p>
											MA, International Affairs, O.P. Jindal Global University, India (2012 - 2014)
											with semester in European Studies, Transnational and Global Perspectives, KU Lueven, Belgium (2013 – 2014)
											</p>
									      	<p>
											Certificate, Sustainable Supply Chain Management, University of San Francisco, USA (2011)
											</p>
										    <p>
											BBA, Double Major: Finance and Management, Pittsburg State University, USA (2003– 2008)
										   </p>
									</div>
								</li>
	
							</ul>
						</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Jeremy bio");</script>	
				