<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/about/jeremywade" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade: Bio" />
  <meta property="og:description"   content="Founding Director, JSiE" />
  <meta property="og:image"         content="http://www.jsie.in/assets/jwade-939703f516b5664668fb1e18a63d68451b14f37796de80d03506b0cd1bb2798a.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-100"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>Our Team</h1>
						</div>
					</div>
				</div>
			</header>
		</div>
		<section class="article-single">
				<div class="container">
					<div class="row">
		
						<div class="col-sm-4 col-md-3">
							<div class="author-details no-pad-top">
								<%= image_tag('jwade.jpg', class: 'img-responsive img-circle', alt: 'Jeremy Wade') %>
								<h5>Jeremy Wade</h5>
								<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jwadejeremy", :target => "_blank"-%>
								</li>
								<li>
								<%= link_to "<i class=\"iicon social_linkedin\"></i>".html_safe, "https://www.linkedin.com/in/jeremyjwade/", :target => "_blank"-%>
							    </li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jwadejeremy/", :target => "_blank"-%>
									</li>
							</ul>	
							<h4>email: jeremy@jsie.in</h4>
							</div>
						</div>
									
						<div class="col-sm-8">
							<div class="article-body">
									<p class="lead"> Jeremy Wade, Founding Director</p>

									<p>
									Jeremy founded the Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University in 2014. Originally from the United States, Jeremy began his career at the U.S. Department of the Treasury, where he helped supervise a portfolio of financial institutions in the aftermath of the Global Financial Crisis from 2008-2012. </p>  
                                    <p>
                                    Jeremy is a co-creator and educator of the FutureLearn Social Enterprise Program, a series of online courses taken by over 15,000 students globally. Jeremy has taught courses on international business and social entrepreneurship at the Jindal School of Liberal Arts & Humanities and Jindal Global Business School.</p>
                                    <p>
                                    Jeremy was awarded the Wall Street Journal Award for Academic Achievement in Finance and Outstanding Male Senior Finance Student at the Kelce School of Business, Pittsburg State University in 2008.

								</p>
								
							</div>
						</div>
					</div>
				</div>	
			</section>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("Jeremy bio");</script>	
				