<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/lac" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Leadership, Action and Change | Executive Education Program" />
  <meta property="og:description"   content="Join this 4-month executive education program on community organizing." />
  <meta property="og:image"         content="http://www.jsie.in/assets/community-dd81185762fa979bc9464d185604fc8c275aad5f15015284b1552acc6667b4b6.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('people1.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">Leadership, Action and Change</h1>
                            <h2 class="text-white">Executive Education Program</h2>
                              <div class="spacer-20"></div>
                            <%= link_to "Apply Now", "https://forms.gle/wzv87sFATDHp8zj87", :class => "btn btn-primary btn-white btn-filled" %>
                            <%= link_to "Learn More", "https://drive.google.com/file/d/1jNOZIrOm0PIeT1n31T5kSwXKqn48u5ME/view?usp=sharing", :target => "_blank", :class => "btn btn-primary btn-white btn-filled" %>
                        </div>
                    </div>
                </div>
            </header>
        </div>
         <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <p class="lead">
                                     The Leadership, Action and Change (LAC) program is a four-month executive education program on community organzing modeled on the value-based framework developed by Prof. Marshall Ganz and replicated in President Obama’s winning election campaigns.  This program has been designed for young leaders of community organizations and social movements in India. You will learn from experienced faculty and international mentors to develop new skills and concepts that will escalate your leadership as a change-maker in India. 

                            </p>
                          </div>
                        </div>
                    </div>
        
                </div>
            </section>
    </div>
    
              <section class="strip bg-primary">
        <div class="container">
          <div class="row clearfix">
            <div class="col-xs-12">
              <h2 class="text-white"><strong>Program Details & Features</strong></h2>
            </div>
          </div>
        </div>
      </section>
      <section class="text-image-bottom bg-white">
        <div class="container">
          
          <div class="row">
            <div class="col-md-7">
 
    
              <ul class="blog-snippet-2">
                <li>
                  <div class="title">
                    <h2>Eligibility</h2>
                    <h3>Graduation in any field or have relevant work experience (6+ months)</h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Duration</h2>
                    <h3>4 Months (15 September- 12 January)</h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Fees</h2>
                    <h3>Rs. 35,000 per participant<h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Application Deadline</h2>
                    <h3>20 August, 2019 (rolling basis acceptance based on eligibility, project and experience)</h3>
                  </div>
                </li>
              </ul> 
                 <%= link_to "Apply Now", "https://forms.gle/wzv87sFATDHp8zj87", :class => "btn btn-primary btn-white btn-filled2" %>
                            <%= link_to "Learn More", "https://drive.google.com/file/d/1jNOZIrOm0PIeT1n31T5kSwXKqn48u5ME/view?usp=sharing", :target => "_blank", :class => "btn btn-primary btn-white btn-filled2" %>

            </div>
           
            <div class="col-sm-5">
       
    
              <ul class="blog-snippet-2">
                <li>
                  <div class="title">
                    <h2>Features</h2>
                    <h3><b><span>&#8226;</span> Community Organizing Leadership Development</b></h3>
                    
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h3><b><span>&#8226;</span> Learn the Art of Public Narrative</b></h3>
                    
                  </div>
                </li>
                
                <li>
                  <div class="title">
                <h3><b><span>&#8226;</span> How to Build a Strategy for Action-based Projects</b><h3>
                     
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h3><b><span>&#8226;</span> How to Structure Strong Leadership Teams</b></h3>
                   
                  </div>
                </li>
                   <li>
                  <div class="title">
                    <h3><b><span>&#8226;</span> Understand How to Manage an Organisation</b></h3>
                   
                  </div>
                    <li>
                  <div class="title">
                    <h3><b><span>&#8226;</span> Learn from Experienced Faculty</b></h3>
                   
                  </div>
                </li>
                 <div class="title">
                    <h3><b><span>&#8226;</span> Support from International Coaches and Mentors</b></h3>
                   
                  </div>
                </li>
                </li>
              </ul> 
            </div>
            <div class="spacer-20"></div>
          </div>
        </div>
     
    
            <section class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="testimonials-slider text-center">
                <ul class="slides">
                  <li>
                    <p class="text-white lead">“For me this program has worked like one stop centre, I got to learn numerous skills under one roof like strategy, tactics and community action work. Especially the strategy and tactics module helped me realize that while working at the grassroots, circumstances might change and one always should have a plan B ready.”</p>
                    <span class="author text-white">Sagina, Punjab, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>
                  
                  <li>
                    <p class="text-white lead"> “Through this program I learnt the art of doing 1-on-1 meetings with my community members. This helped in asking for people’s solution to their problems. We have come up with so many solutions and have formed a team with the community to work on these alternative methods. The team is now helping other members to join our snowflake model of leadership and expand to district.”</p>
                    <span class="author text-white">Sanjay, Odisha, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>

                   <li>
                    <p class="text-white lead"> "India has always impressed me in its sense of community, exemplified in diverse social movements. It’s a great place to spread the community organizing methodology. I enjoyed meeting socially engaged members of the Indian society, learning about their respective callings and coaching them as their campaign evolved."" </p> 

                      <span class="author text-white">Rand El Haj Hasan, Harvard Alumni, 2018 People, Power and Change Executive Education Program Coach</span>
                  </li>

                  <li>
                    <p class="text-white lead">“While starting my social impact organisation I felt stuck. Through this program I learned the power lies with the community. The coaching on sharing your story and values by international coaches helped me to train others and our community size increased to 20 women who are sharing their success stories with others in the community.”</p>
                    <span class="author text-white">Urvi, New Delhi, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    
<section class="video-inline">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="space-bottom-medium">Teaching Faculty: Rupinder Bhalla</h1>
                     <p>
           Rupinder Kaur Bhalla is a Teaching Fellow at the Leadership Organising and Action Executive Education Program at the Harvard Kennedy School, run by Harvard University Professor Marshall Ganz. In this role, Rupinder <a href="https://drive.google.com/open?id=1iDHZ5nCwWrSpn02pKTgcE6pjPY8B_Vyk" target="_blank">mentored 26 students and their projects in Europe, Middle East, Asia and Australia</a>. In 2018, she trained Haiyya’s internal staff on the community organizing framework, and led the People Power Change (PPC) Program, JSiE's Executive Education Program in partnership with Haiyya. The PPC program included 13 civil society leaders with 12 international mentors from Harvard Network.</p>
          
          <p>Community Organising through Leadership and Action has proven successful in both political and social change. This framework has been successfully applied to projects working on climate change, community mental health, elections, health care reform, public education, and women’s rights, among dozens of other issues. The LAC program has been contextualised for Indian challenges in organizing communities and organisations for leadership and social change in India. </p> 

              </p>
            </div>
            
            <div class="col-md-6 col-sm-12">
                  <div class="video-post1">
                            <div class="spacer-20"></div>
                  <iframe src="https://www.youtube.com/embed/qNbRkjP8kog"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

            	<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("lac");</script>	