<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/learn/lac" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Leadership, Action and Change | Executive Education Program" />
  <meta property="og:description"   content="Join this 4-month executive education program on community organizing." />
  <meta property="og:image"         content="http://www.jsie.in/assets/communityorg-072e2286f5a263f0e9813eb9990487690483014a414a1aa3684df170f079e36e.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('people1.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">Leadership, Action and Change</h1>
                            <h2 class="text-white">Online Interactive Short Program</h2>
                              <div class="spacer-20"></div>
                            <%= link_to "Apply Now", "https://forms.gle/YEkpz7C5jLnao9kn9", :class => "btn btn-primary btn-white btn-filled" %>
                            <%= link_to "Brochure", "https://drive.google.com/a/jsie.in/file/d/1V3lDaaDpVguElYdX4COkHZFfMGF0vN4A/view?usp=sharing", :target => "_blank", :class => "btn btn-primary btn-white btn-filled" %>
                            <%= link_to "Nominate a Community Leader", "https://forms.gle/f4bV2tzKC8kDJwLP7", :target => "_blank", :class => "btn btn-primary btn-white btn-filled" %>
                        </div>
                    </div>
                </div>
            </header>
        </div>
         <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <p class="lead">
                                     The Leadership, Action and Change (LAC) Short Program is a 12-day online interactive program on community organzing modeled on the value-based framework developed by Prof. Marshall Ganz and replicated in President Obama’s winning election campaigns.  This program has been designed for young leaders of community organizations and social movements in India. You will learn from experienced faculty to develop new skills and concepts that will escalate your leadership as a change-maker in India. 

                            </p>
                          </div>
                        </div>
                    </div>
        
                </div>
            </section>
    </div>
    
              <section class="strip bg-primary">
        <div class="container">
          <div class="row clearfix">
            <div class="col-xs-12">
              <h2 class="text-white"><strong>Program Details & Features</strong></h2>
            </div>
          </div>
        </div>
      </section>
      <section class="text-image-bottom bg-white">
        <div class="container">
          
          <div class="row">
            <div class="col-md-7">
 
    
              <ul class="blog-snippet-2">
                <li>
                  <div class="title">
                    <h2>Eligibility</h2>
                    <h3>Graduate in any field or have relevant work experience (6+ months)</h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Duration</h2>
                    <h3>12 days (starts 29 April, 2020)</h3>
                  </div>
                </li>
                     <li>
                  <div class="title">
                    <h2>Format</h2>
                    <h3>Eight (8) online interactive lectures and four (4) online interactive workshops (lectures and workshops are appox. 2 hours long)<h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Fees</h2>
                    <h3>Rs. 5,000 per participant<h3>
                  </div>
                </li>
                <li>
                  <div class="title">
                    <h2>Certificate</h2>
                    <h3>Each participate who successfully completes the short program will recieve a digital certificate from JSiE<h3>
                  </div>
                </li>
                
                <li>
                  <div class="title">
                    <h2>Application Deadline</h2>
                    <h3>21 April, 2020 (rolling basis acceptance based on eligibility, project and experience)</h3>
                  </div>
                </li>
              </ul> 
                 <%= link_to "Apply Now", "https://forms.gle/YEkpz7C5jLnao9kn9", :class => "btn btn-primary btn-white btn-filled2" %>
                <%= link_to "Brochure", "https://drive.google.com/a/jsie.in/file/d/1V3lDaaDpVguElYdX4COkHZFfMGF0vN4A/view?usp=sharing", :target => "_blank", :class => "btn btn-primary btn-white btn-filled2" %>
             

            </div>
           
            <div class="col-sm-5">
       
    
              <ul class="blog-snippet-2">
                <li>
                  <div class="title">
                    <h2>Features</h2>
                         <div class="spacer-20"></div>
                    <h5><b><span>&#8226;</span> Understand the Community Organizing Leadership Framework</b></h5>
                    
                  </div>
                </li>
                
                <li>
                    <div class="spacer-20"></div>
                  <div class="title">
                    <h5><b><span>&#8226;</span> Learn the Art of Public Narrative</b></h5>
                    
                  </div>
                </li>
                
                <li>
                    <div class="spacer-20"></div>
                  <div class="title">
                <h5><b><span>&#8226;</span> Learn how to Build a Strategy for Action-based Projects</b><h5>
                     
                  </div>
                </li>
                
                <li>
                    <div class="spacer-20"></div>
                  <div class="title">
                    <h5><b><span>&#8226;</span> Learn how to Structure Strong Leadership Teams</b></h5>
                   
                  </div>
                </li>
                   <li>
                      <div class="spacer-20"></div>
                  <div class="title">
                    <h5><b><span>&#8226;</span> Understand how to Manage an Organisation Remotely</b></h5>
                   
                  </div>
                     <li>
                        <div class="spacer-20"></div>
                  <div class="title">
                    <h5><b><span>&#8226;</span> Learn how to Mobilize a Community Online</b></h5>
                   
                  </div>
                </li>
                  <div class="spacer-20"></div>
                   <%= link_to "Nominate a community leader", "https://forms.gle/f4bV2tzKC8kDJwLP7", :target => "_blank", :class => "btn btn-primary btn-white btn-filled2" %>
                </li>
              </ul> 
            </div>
            <div class="spacer-20"></div>
          </div>
        </div>
     
    
            <section class="bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="testimonials-slider text-center">
                <ul class="slides">
                  <li>
                    <p class="text-white lead">“I joined the LAC program because I had read a lot about Marshall Ganz’s organization framework, and I wanted to get hands-on exposure to the same. What started off in my mind as another remote-learning certification program quickly became the high point of my week. At LAC, i  learnt about story construction, team building, strategising, choosing and applying tactics  for garnering participation in a project. Through the course, I got the chance to build a toolkit to launch my own social change initiative. The dual theory-and-practice model meant that I got a chance to learn, apply, and execute to the best of my abilities.”</p>
                    <span class="author text-white">Harsh, Mumbai, 2019 participant of Leadership, Action and Change Executive Education Program</span>
                  </li>
                    <li>
                    <p class="text-white lead">“For me this program has worked like one stop centre, I got to learn numerous skills under one roof like strategy, tactics and community action work. Especially the strategy and tactics module helped me realize that while working at the grassroots, circumstances might change and one always should have a plan B ready.”</p>
                    <span class="author text-white">Sagina, Punjab, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>
                  
                  <li>
                    <p class="text-white lead"> “Through this program I learnt the art of doing 1-on-1 meetings with my community members. This helped in asking for people’s solution to their problems. We have come up with so many solutions and have formed a team with the community to work on these alternative methods. The team is now helping other members to join our snowflake model of leadership and expand to district.”</p>
                    <span class="author text-white">Sanjay, Odisha, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>
                     <li>
                    <p class="text-white lead"> “The LAC Program helped me in applying tools and tactics in organizing tribal communities on one platform for forest produce aggregation work. The program is very unique as it links the project design and grassroots implementation of projects and helped me in shaping my social entrepreneurship journey by working on from ideation to execution. Using the skills, our startup won the  Pitch Fest Prize and was selected for the  Startup Accelerator program.  The future looks bright for Bastar se Bazaar tak as the idea of reduced post-harvest losses has taken root within the communities where we are working”</p>
                    <span class="author text-white">Satendrasingh, Bastar, Chattisgarh, 2019 participant of the Leadership, Action and Change Executive Education Program</span>
                  </li>

                   <li>
                    <p class="text-white lead"> "India has always impressed me in its sense of community, exemplified in diverse social movements. It’s a great place to spread the community organizing methodology. I enjoyed meeting socially engaged members of the Indian society, learning about their respective callings and coaching them as their campaign evolved."" </p> 

                      <span class="author text-white">Rand El Haj Hasan, Harvard Alumni, 2018 People, Power and Change Executive Education Program Coach</span>
                  </li>

                  <li>
                    <p class="text-white lead">“While starting my social impact organisation I felt stuck. Through this program I learned the power lies with the community. The coaching on sharing your story and values by international coaches helped me to train others and our community size increased to 20 women who are sharing their success stories with others in the community.”</p>
                    <span class="author text-white">Urvi, New Delhi, 2018 participant of People, Power and Change Executive Education Program</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    
<section class="video-inline">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="space-bottom-medium">Teaching Faculty: Rupinder Bhalla</h1>
                     <p>
           Rupinder Kaur Bhalla is a Teaching Fellow at JSiE. Previously, Rupinder was Teaching Fellow at the Leadership Organising and Action, Executive Education Program at the Harvard Kennedy School, run by Professor Marshall Ganz. In this role, Rupinder <a href="https://drive.google.com/open?id=1iDHZ5nCwWrSpn02pKTgcE6pjPY8B_Vyk" target="_blank">mentored 26 students and their projects in Europe, Middle East, Asia and Australia</a>. In 2019, she piloted JSiE’s LAC program, an online executive education program. The LAC program had 13 civil society leaders participate in the program who were mentored by international coaches from Harvard Alumni Network as well as guest lectures from leaders in the Indian Government and civil society. In 2018, she trained Haiyya’s internal staff on the community organising framework and led the People Power Change (PPC) Program, JSiE's Executive Education Program in partnership with Haiyya.</p>
          
          <p>Community Organising through Leadership and Action has proven successful in both political and social change. This framework has been successfully applied to projects working on climate change, community mental health, elections, health care reform, public education, and women’s rights, among dozens of other issues. The LAC program has been contextualised for Indian challenges in organizing communities and organisations for leadership and social change in India. </p> 

              </p>
            </div>
            
            <div class="col-md-6 col-sm-12">
                  <div class="video-post1">
                            <div class="spacer-20"></div>
                  <iframe src="https://www.youtube.com/embed/qNbRkjP8kog"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>

            	<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("lac");</script>	