<%= render 'layouts/nav' %>	
<%= render 'layouts/learnheader' %>
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="A Social Innovation Lab in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
			
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Social Enterprise: Business Doing Good </h1>
							<p class="lead space-bottom-medium">Learn about the diverse world of social enterprise through this free online course. This course is a valuable foundation in social enterprise and, is a must for anyone who wants to understand more about social enterprise and its relation to sustainable development. In this course, you will learn how to evaluate social enterprise in the context of global and local problems.</p>
							<%= link_to "Learn More", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :class => "btn btn-primary btn-grey" %>
							<%= link_to "JOIN NOW", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/_333j3KPZeM" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>
			
			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">We're developing a toolkit for social innovators.<br>Stay in touch for updates on it.</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		    <script> mixpanel.track("Learn");</script>
		
