<% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/learn" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Online Learning | Sustainability Leadership" />
  <meta property="og:description"   content="Start learning online today | Jindal Centre for Social Innovation + Entrepreneurship, O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/onlinelearn-950c09c3294220e50b0ac61ce84255f2718125aa3a8b6f77e59fed1b9049940f.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
   <div class="loader">
    		<div class="spinner">
			  
			</div>
    	</div>
   <%= render 'layouts/nav' %>	
       	<div class="main-container">
              <header class="feature-divider">
			
				<div class="background-image-holder" data-scroll-reveal="wait 0.2s then enter 200px from bottom over 0.3s">
					<%= image_tag('onlinelearn.png', class: 'background-image', alt: 'JSiE') %>
				</div>
			
				<div class="container">
					 <div class="spacer-90"></div>
					 <div class="spacer-90"></div>
					  <div class="spacer-90"></div>
					<div class="row">
						<div class="col-sm-5">
							<h1></h1>
							<p class="lead">
							</p>
						</div>
					
						<div class="col-sm-7" data-scroll-reveal="enter from bottom and move 100px">
						</div>
					</div>
				</div>
			</header>

			<header class="signup1"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">Online Learning Programs <br>for Sustainability Leaders</h1>
								<a href="https://drive.google.com/file/d/1BWOOjGLRwsWm5qhmiBrGTU5Sm6LMV-S_/view?usp=sharing" target="_blank" class="btn btn-primary btn-white btn-filled">Download the Report</a>
										 <div class="spacer-10"></div>
							</div>
						</div>


											</div>
						
					</div>	
			</header>
			<div>
				<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-6 text-center">
							<%= image_tag('learningoverview.png', class: 'background-image', alt: 'JSiE') %>
						</div>
					
						<div class="col-sm-6 align-vertical no-align-mobile clearfix">
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-document"></i>
									<h6>FutureLearn Social Enterprise Program</h6>
									<p>
										
In 2016, JSiE started its first initiative in designing online education. Partnering with Middlesex University London in the UK, JSiE collaboratively created a series of courses on FutureLearn, Europe’s leading online social learning platform. The course design process took 6 months and benefited from a partnership with the social enterprise Living in Minca, who’s documentary films were repurposed into video case studies. The final outcome was the FutureLearn Social Enterprise Program, which to-date has over 50,000 registered learners from 175 countries.
									</p>
								</div>
							</div>
						
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-linegraph"></i>
									<h6>Impact Investing Online Course</h6>
									<p>
										In 2018, JSiE launched its second online learning initiative in partnership with Asha Impact, one of India’s leading impact funds and development think tanks. This 4-week online course includes video interviews with leading investors in the field like the Michael & Susan Dell Foundation, Acumen Fund, Omidyar Network, Grameen Capital, Aavishkaar and more. The course also benefits from content contributed by global partners like the Aspen Network of Development Entrepreneurs, the Global Impact Investing Network and the Bridgespan Group. Endorsed by the Impact Investors Council, the course has over enrolled over 5000 students from 137 countries.
								</div>
							</div>
						
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-target"></i>
									<h6>Online Executive Education</h6>
									<p>
										In 2019, JSiE expanded into online executive education for Indian grassroots community organizers. The 4-month program - Leadership, Action and Change Executive Education program for Community Organizers - launched in September 2019. 
									</p>
								</div>
							</div>
						
							<div class="col-md-6 no-pad-left clearfix">
								<div class="feature feature-icon-small">
									<i class="icon icon-layers"></i>
									<h6>Online Learning for Sustainability Leadership</h6>
									<p>
										
In 2020, JSiE is focused on the challenge ahead to deliver high-quality education globally to young sustainability leaders, and particularly to those missed by traditional education.
									</p>
								</div>
							</div>
							
		
						</div>
					</div>
				
				</div>
			</section>

  		<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('forest.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-50"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>Impact Investing: Profit & Purpose</h1>
							<h5 class="text-white space-bottom-medium"><br>Earn a certification in impact investing in 4 weeks</h5>
							<%= link_to "Sign up Now","https://www.futurelearn.com/courses/impact-investing", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
			</header>
		</div>
			<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Course Partners</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('logo.png', align: 'middle',class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('fl.png', align: 'middle', class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('asha.jpg', align: 'middle', class: 'background-image', alt: 'Asha Impact') %>
							</div>
						</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
						
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>A certificate from O.P. Jindal Global University</h2>
								<p>
									Complete 90% of each course and score an average of 70% or above on any tests within it, to be eligible to buy a Certificate of Achievement.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Sign up now and take the course anytime, anywhere</h2>
								<p>
								Accessible for free on desktop, tablet or mobile and delivered in bite-sized chunks, the courses provide a flexible way to develop your social enterprise skills.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Learn from industry leaders and pioneers </h2>
								<p>
								Undestand how the power of finance can generate financial returns and tackle today's global challenges.
								</p>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>
		                    <section class="strip bg-secondary-3">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 pull-left">
                            <h3 class="text-white"><strong></strong> Impact Investing: Profit & Purpose</h3>
                        </div>
                        
                        <div class="col-sm-4 col-xs-12 pull-right text-right">
                            <%= link_to "Start Learning Today", "https://www.futurelearn.com/courses/impact-investing", :class => "btn btn-primary btn-white btn-filled" %>
                        </div>
                    </div>
                </div>
            </section>
					<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Learn from Industry Leaders and Pioneers</h1>
							<p class="lead space-bottom-medium">This 4-week online course includes video interviews with leading investors in the field like the Michael & Susan Dell Foundation, Acumen Fund, Omidyar Network, Grameen Capital, Aavishkaar and more.</p>
							<h5 class="space-bottom-medium"></h5>
							<%= link_to "Start Learning", "https://www.futurelearn.com/courses/impact-investing", :class => "btn btn-primary btn-filled" %>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/h7tXBbv_SaM" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>

  		<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-50"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>FutureLearn Social Enterprise Program</h1>
							<h5 class="text-white space-bottom-medium"><br>Earn a certification in social enterprise in 9 weeks</h5>
							<%= link_to "Register Your Interest","https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
			</header>
		</div>

		<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Course Partners</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('mid.png', class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('fl.png', class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('logo.png', align: 'middle',class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
						
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>A certificate from Middlesex University Business School</h2>
								<p>
									Complete 90% of each course and score an average of 70% or above on any tests within it, to be eligible to buy a Certificate of Achievement.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Sign up now and take the course anytime, anywhere</h2>
								<p>
								Accessible for free on desktop, tablet or mobile and delivered in bite-sized chunks, the courses provide a flexible way to develop your social enterprise skills.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Turn your social enterprise idea into action </h2>
								<p>
								You will find out how to design your social enterprise model and bring it to market, and explore how to scale or sustain your social enterprise over the long term.
								</p>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>
		                    <section class="strip bg-secondary-3">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 pull-left">
                            <h3 class="text-white"><strong>FutureLearn Social Enterprise Program</h3>
                        </div>
                        
                        <div class="col-sm-4 col-xs-12 pull-right text-right">
                            <%= link_to "Register Your Interest", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-white" %>
                        </div>
                    </div>
                </div>
            </section>
            <div class="spacer-50"></div>
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Business Doing Good </h1>
							<p class="lead space-bottom-medium">Learn about the diverse world of social enterprise through this free online course. This course is a valuable foundation in social enterprise and, is a must for anyone who wants to understand more about social enterprise and its relation to sustainable development. In this course, you will learn how to evaluate social enterprise in the context of global and local problems.</p>
							<h5 class="space-bottom-medium"></h5>
							
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/_333j3KPZeM" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/hkqlnsmji98" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Turning Ideas into Action </h1>
							<p class="lead space-bottom-medium">How can you turn a social enterprise idea into action? In this course, you will identify the problem your idea is trying to solve, design your social enterprise venture model and prepare to take it to market.</p>
							<h5 class="space-bottom-medium"></h5>
						
						</div>
				</div>
			</section>

			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Growing a Sustainable Business</h1>
							<p class="lead space-bottom-medium">Is your social enterprise sustainable? Is it scalable? This course helps you evaluate your model and develop a plan to take it to the next level.</p>
							<h5 class="space-bottom-medium"></h5>
							
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/IsFcYTVm3kg" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>
			<div style="width: 100%; height:700px; position: relative; overflow: hidden;"><iframe width="100%" height="100%" frameborder="0" src="https://landbot.io/u/H-35209-O7NX11UB3I0QSS8B/index.html" style="position: absolute; left:0; right:0; bottom:0; top:0; border:0;"></iframe></div>

			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award winning social impact centre <br> in North India</h1>
							</div>
						</div>

<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
		    <script> mixpanel.track("Learn");</script>
		
