<% content_for :head do %>
  <meta property="og:url"           content="https://www.jsie.in/learn" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Digital Learning Lab" />
  <meta property="og:description"   content="Learn at the Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/jsiedigital-ca3706cc3687e828164d60e931b212cb60a0708a9cd08c7c62c3e75e77d09cdb.png" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
   <div class="loader">
    		<div class="spinner">
			  
			</div>
    	</div>
   <%= render 'layouts/nav' %>	
<div class="main-container">
  <header class="hero-slider1">
				<ul class="slides">
					<li class="overlay">
						<div class="video-wrapper">
						   
							<%= video_tag "gsgtrailer.mp4", controls: false, autoplay: true, muted: true, loop: true %>
						</div>
					
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Learn about impact investing from the industry leaders and pioneers<h1>
									 <%= link_to "Join the Course", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-white btn-filled" %>
								</div>
							</div>
						</div>
					</li>
					
					
				</ul>
			</header>
		</div>
   
		<section class="product-right">
			
				<div class="background-image-holder">
				
				
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<h2>Learn how the power of finance can generate financial returns and tackle today's global challenges.</h2>
							<p class="lead">
								
							</p>
						</div>
					</div>
				</div>
				
				<div class="product-image" data-scroll-reveal="enter right and move 100px">
					<%= image_tag('mooc.png', class: 'background-image', alt: 'JSiE') %>
				</div>
			
			</section>
		</div>

  		<header class="page-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="spacer-50"></div>
						<div class="col-sm-12 text-center">
							<br>
							<h1 class="text-white space-bottom-small"><br>Learn a better way of doing business</h1>
							<h5 class="text-white space-bottom-medium"><br>Earn a certification in social enterprise in 9 weeks</h5>
							<%= link_to "Register Your Interest","https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filledhome" %>
						</div>
					</div>
				</div>
			</header>
		</div>

		<section class="duplicatable-content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Course Partners</h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('mid.png', class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('fl.png', class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<%= image_tag('logo.png', align: 'middle',class: 'background-image', alt: 'JSiE') %>
							</div>
						</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1>Course Details</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>A certificate from Middlesex University Business School</h2>
								<p>
									Complete 90% of each course and score an average of 70% or above on any tests within it, to be eligible to buy a Certificate of Achievement.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Sign up now and take the course anytime, anywhere</h2>
								<p>
								Accessible for free on desktop, tablet or mobile and delivered in bite-sized chunks, the courses provide a flexible way to develop your social enterprise skills.
								</p>
							</div>
						</div>
						
						<div class="col-md-4 col-sm-6">
							<div class="blog-snippet-1">
								<h2>Turn your social enterprise idea into action </h2>
								<p>
								You will find out how to design your social enterprise model and bring it to market, and explore how to scale or sustain your social enterprise over the long term.
								</p>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>
		                    <section class="strip bg-secondary-3">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 pull-left">
                            <h3 class="text-white"><strong>Join us.</strong> Learn a better way of doing business</h3>
                        </div>
                        
                        <div class="col-sm-4 col-xs-12 pull-right text-right">
                            <%= link_to "Try it for Free", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-white" %>
                        </div>
                    </div>
                </div>
            </section>
            <div class="spacer-50"></div>
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Business Doing Good </h1>
							<p class="lead space-bottom-medium">Learn about the diverse world of social enterprise through this free online course. This course is a valuable foundation in social enterprise and, is a must for anyone who wants to understand more about social enterprise and its relation to sustainable development. In this course, you will learn how to evaluate social enterprise in the context of global and local problems.</p>
							<h5 class="space-bottom-medium"></h5>
							<%= link_to "Learn More", "https://www.futurelearn.com/courses/social-enterprise-business-doing-good", :class => "btn btn-primary btn-grey" %>
							<%= link_to "Try it for Free", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/_333j3KPZeM" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>
			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/hkqlnsmji98" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Turning Ideas into Action </h1>
							<p class="lead space-bottom-medium">How can you turn a social enterprise idea into action? In this course, you will identify the problem your idea is trying to solve, design your social enterprise venture model and prepare to take it to market.</p>
							<h5 class="space-bottom-medium"></h5>
							<%= link_to "Learn More", "https://www.futurelearn.com/courses/social-enterprise-idea-action", :class => "btn btn-primary btn-grey" %>
							<%= link_to "Try it for Free", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
				</div>
			</section>

			<section class="video-inline">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-12 center-text">
							<h1 class="space-bottom-medium">Growing a Sustainable Business</h1>
							<p class="lead space-bottom-medium">Is your social enterprise sustainable? Is it scalable? This course helps you evaluate your model and develop a plan to take it to the next level.</p>
							<h5 class="space-bottom-medium"></h5>
							<%= link_to "Learn More", "https://www.futurelearn.com/courses/social-enterprise-sustainable-business", :class => "btn btn-primary btn-grey" %>
							<%= link_to "Try it for Free", "https://www.futurelearn.com/programs/social-enterprise", :class => "btn btn-primary btn-filled" %>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="media-holder">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/IsFcYTVm3kg" frameborder="0" allowfullscreen></iframe>
							</div>
						
					</div>
				</div>
			</section>
			<div style="width: 100%; height:700px; position: relative; overflow: hidden;"><iframe width="100%" height="100%" frameborder="0" src="https://landbot.io/u/H-35209-O7NX11UB3I0QSS8B/index.html" style="position: absolute; left:0; right:0; bottom:0; top:0; border:0;"></iframe></div>

			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award winning social impact centre <br> in North India</h1>
							</div>
						</div>

<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
		    <script> mixpanel.track("Learn");</script>
		
