<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/ppc" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="People, Power & Change" />
  <meta property="og:description"   content="An executive education program at the Jindal Centre for Social Innovation + Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/ppc-178356284781d3b778592e51c583a3552232150731cc025beedc2f6975acba45.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('ppc.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white">People, Power & Change</h1>
                            <h2 class="text-white">2018 Executive Education Program</h2>
                              <div class="spacer-20"></div>
                            <%= link_to "Program Report", "https://drive.google.com/a/jsie.in/file/d/1c7ae4SgJf8JnmHH10vxmaCYuPoEHD1SQ/view?usp=sharing", :class => "btn btn-primary btn-white btn-filled" %>
                            
                        </div>
                    </div>
                </div>
            </header>
        </div>
            <section class="video-inline">
        <div class="container">
          <div class="row">

            
            <div class="col-md-6 col-sm-12">
              <div class="media-holder">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/qNbRkjP8kog" frameborder="0" allowfullscreen="">
                
                </iframe>
              </div>
            </div>
            <h2>2018</h2>
            <h1 class="space-bottom-medium">People, Power and Change: Executive Education Program</h1>
              <p class="lead space-bottom-medium">
                The People, Power & Change Program is a 10-week journey with experienced grassroots coaches and mentors, learning new skills and concepts that will escalate your leadership as a change-maker.
              </p>
            </div>
          </div>
        </div>
      </section>
         <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                                 <h4> Program Delivery Partner </h4>
                                <%= image_tag('haiyya.jpg', class: 'img-responsive', alt: 'Haiyya') %>
                                
                                
                                 
                            </div>
                        </div>
                    </div>
        
                </div>
            </section>
            	<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
		 <%= render 'layouts/footer' %>
	    <script> mixpanel.track("ppc");</script>	