<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/research" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Research" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>

        <div class="main-container">
        <section class="blog-image-snippet">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('vignesh.jpg', class: 'background-image', alt: 'Vignesh') %>
                </div>
                
                <div class="container">         
                    <div class="row">
                        <div class="col-md-8 col-sm-offset-2">     
                                <h1 class="text-white">Empowering all women and girls and achieving gender equality are not only moral imperatives, they are crucial to creating <b> inclusive, open and prosperous societies.</b></h1>
                        </div>  
                    </div>
                </div>
            </section>
  
            <section class="duplicatable-content">
                <div class="container">
            
                    <div class="row">
                        <div class="col-md-4 col-sm-offset-4">
                            <div class="blog-snippet-4">
                                <%= image_tag('stanford.png', class: 'background-image', alt: 'Stanford') %>
                            </div>
                        </div>
                           <div class="row">
                        <div class="col-md-8 col-sm-offset-2">
                            <div class="blog-snippet-4">
                                <h3>Our three-part series on the transformative potential of women’s leadership in India’s social enterprise sector.</h3>
                            </div>
                        </div>
            </section>
            
            <section class="no-pad clearfix">
            
                
                <div class="col-md-4 col-sm-6 no-pad">
                    <div class="feature-box bg-muted">
                        <h1>How to Support Women Social Entrepreneurs in India</h1>
                        <p>
                            Realizing the transformative potential of women’s leadership in India’s social enterprise sector will require persistent efforts to refine and mainstream gender-lens investing.
                        </p>
                        <div class="col-md-12 text-center">
                        <%= link_to "Read the Article", "https://ssir.org/articles/entry/how_to_support_women_social_entrepreneurs_in_india", :class => "btn btn-primary btn-filled" %> 
                        </div> 
                        <div class="spacer-20"></div>
                    </div>
                </div>
                      <div class="col-md-4 col-sm-6 no-pad">
                    <div class="feature-box bg-primary">
                        <h1 class="text-white">Women, Prosperity, and Social Change in India</h1>
                        <p class="text-white">
                            Social enterprise, which promises both economic empowerment and social trans-formation, is driving tremendous positive change in the lives of women in India. But it is also at the heart of a growing debate about the past and future of India's social sector.
                            <br>
                        </p>
                        <div class="col-md-12 text-center">
                        <%= link_to "Read the Article", "https://ssir.org/articles/entry/women_prosperity_and_social_change_in_india", :class => "btn btn-primary btn-filled" %>
                        </div>  
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-6 no-pad">
                    <div class="feature-box bg-muted">
                        <h1>Rethinking Women’s Work in India</h1>
                        <p>
                            Through innovative strategies for bringing women into the workforce, social enterprise is poised to transform the meaning of “women’s work.”
                        </p>
                        <div class="col-md-12 text-center">
                        <%= link_to "Read the Article", "https://ssir.org/articles/entry/rethinking_womens_work_in_india", :class => "btn btn-primary btn-filled" %> 
                    </div>
                         <div class="spacer-20"></div> 
                    </div>
                </div>
                
            </section>
          
        <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">Research at JSiE</span>
                            <h1><strong>Turn Your Research into Social Impact</strong></h1>
                            <p class="lead">
                            As a social impact centre within O.P. Jindal Global University, JSiE seeks to foster conversation between academics, social entrepreneurs and community leaders. We collaborate with academic researchers to explore applications of their research in the social innovation field. We welcome partnerships in our existing areas of research as well as proposals for new research collaborations. 
                            </p>
                             <p class="lead">
                            Our research examines the spectrum of factors, from the individual entrepreneur to the broader ecosystem, that enable social entrepreneurship and innovation to flourish. We seek to develop holistic strategies and recommendations for fostering social innovation in North India. </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
            <section class="header-icons overlay">
                    <div class="background-image-holder parallax-background">
                        <img class="background-image" alt="Background Image" src="img/hero2.jpg">
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="icon icon-desktop text-white"></i>
                                <h2 class="text-white">Identifying tomorrow's social impact leaders</h2>
                                <div class="spacer-20"></div>
                                     <p class="text-white">
                                   What makes a changemaker? What innate traits and lived experiences prepare and motivate social innovators? This branch of our research seeks to develop evidence-based tools to identify individuals with high potential to serve as catalysts in processes of social change.

                                </p>
                            </div>
                            
                            <div class="col-sm-4">
                                <i class="icon icon-mobile text-white"></i>
                                <h2 class="text-white">Equipping and supporting social entrepreneurs</h2>
                                <div class="spacer-20"></div>
                                 <p class="text-white">  What forms of enterprise education, training, and support enable social entrepreneurs to take their ventures to the next stage? We seek to explore best practices for incorporating social enterprise into school and university studies, as well as for developing tailored training programs. </p>
                            </div>
                            
                            <div class="col-sm-4">
                                <i class="icon icon-genius text-white"></i>
                                <h2 class="text-white">Assessing the sector's impact</h2>
                                <div class="spacer-20"></div>
                                    <p class="text-white"> How are social enterprises transforming lives? Where do they have their greatest impact? Our research in this area seeks to map the work of social enterprises in India onto broader frameworks for inclusive development such as the Sustainable Development Goals.
                                </p>
                            </div>
                        </div>
        
                    </div>  
            </section>
        </div>

            <section class="blog-masonry bg-muted">
                <div class="container">
                
                <div class="container">
                    <div class="row">
                        <div class="blog-masonry-container">

                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('seq7.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Investigating the Social Entrepreneur Personality</h2>
                                            <p>
                                                 This research aims to increase our understanding of personality traits of successful social entrepreneurs. 
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Learn More", "https://blog.jsie.in/is-there-a-social-entrepreneur-personality-3f75503a311d#.60h7jsq9d", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('seq8.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Is there a social entrepreneur personality?</h2>
                                            <p>
                                                 Social entrepreneurs help build a world we want to to live in. What is unique about their personality? Help us figure it out. 
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Take the Survey", "https://jsie.typeform.com/to/tH1Wwc", :class => "btn-xs btn-primary btn-filled" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                          
                        <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('sewe.jpg', class: 'background-image', alt: 'Women Empowerment Through Social Enterprise') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Empowering Women Through Social Enterprise</h2>
                                            <p>
                                                 This research looks at mutually reinforcing linkage between women’s empowerment and social enterprise across five countries: the UK, the United States, Brazil, India, and Pakistan.  
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Learn More", "https://blog.jsie.in/womens-empowerment-and-social-enterprise-99e735d82b91#.ci2nxoxyu", :class => "btn-xs btn-primary btn-filled" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>  
        </div>
    <header class="signup"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award winning social impact centre <br> in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled"> 
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->
                                
                        
                        </div>
                        
                    </div>  
            </header>
        </div>
 <%= render 'layouts/footer' %>
<script> mixpanel.track("research");</script>
		

				