<%= render 'layouts/nav' %> 
 <% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/research" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Research" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <header class="page-header">
                <div class="background-image-holder parallax-background">
                    <%= image_tag('learn3.jpg', class: 'background-image', alt: 'JSiE') %>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="spacer-100"></div>
                        <div class="col-sm-12 text-center">
                            <h1 class="text-white space-bottom-small"><br>A research centre focused on impact</h1>
                        </div>
                    </div>
                </div>
            </header>
        </div>
          
        <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">Research</span>
                            <h1><strong>Turn Your Research into Social Impact</strong></h1>
                            <p class="lead">
                            As a social innovation hub within O.P. Jindal Global University, JSiE seeks to foster conversation between academics, social entrepreneurs and community leaders. We collaborate with academic researchers to explore applications of their research in the social innovation field. We welcome partnerships in our existing areas of research as well as proposals for new research collaborations. 
                            </p>
                             <p class="lead">
                            Our research examines the spectrum of factors, from the individual entrepreneur to the broader ecosystem, that enable social entrepreneurship and innovation to flourish. We seek to develop holistic strategies and recommendations for fostering social innovation in North India. </p>
                        </div>
                    </div>
        
                </div>
            </section>
        </div>
    
        <section class="duplicatable-content">
                <div class="container">
                        <div class="col-md-4 col-sm-6">
                             <div class="feature feature-icon-large">
                                 <i class="icon icon_search"></i>
                                <div class="pin-body"></div>
                                <div class="pin-head"></div>
                                <h2>Identifying tomorrow's social impact leaders</h2>
                                <p>
                                   What makes a changemaker? What innate traits and lived experiences prepare and motivate social innovators? This branch of our research seeks to develop evidence-based tools to identify individuals with high potential to serve as catalysts in processes of social change.

                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                              <div class="feature feature-icon-large">
                                 <i class="icon icon_book"></i>
                                <div class="pin-body"></div>
                                <div class="pin-head"></div>
                                <h2>Equipping and supporting social entrepreneurs</h2>
                                <p>
                                   What forms of enterprise education, training, and support enable social entrepreneurs to take their ventures to the next stage? We seek to explore best practices for incorporating social enterprise into school and university studies, as well as for developing tailored training programs. 
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-6">
                                <div class="feature feature-icon-large">
                                 <i class="icon icon_globe_alt"></i>
                                <div class="pin-body"></div>
                                <div class="pin-head"></div>
                                
                                <h2>Assessing the sector's impact</h2>
                                <p>
                                    How are social enterprises transforming lives? Where do they have their greatest impact? Our research in this area seeks to map the work of social enterprises in India onto broader frameworks for inclusive development such as the Sustainable Development Goals.
                                </p>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
        </div>
     
     
            <section class="blog-masonry bg-muted">
                <div class="container">
                
                <div class="container">
                    <div class="row">
                        <div class="blog-masonry-container">

                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('seq7.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Investigating the Social Entrepreneur Personality</h2>
                                            <p>
                                                 This research aims to increase our understanding of personality traits of successful social entrepreneurs. 
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Learn More", "https://blog.jsie.in/is-there-a-social-entrepreneur-personality-3f75503a311d#.60h7jsq9d", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('seq8.jpg', class: 'background-image', alt: 'Social Entrepreneur Personality') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Is there a social entrepreneur personality?</h2>
                                            <p>
                                                 Social entrepreneurs help build a world we want to to live in. What is unique about their personality? Help us figure it out. 
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Take the Survey", "https://jsie.typeform.com/to/tH1Wwc", :class => "btn-xs btn-primary btn-filled" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                          
                        <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('sewe.jpg', class: 'background-image', alt: 'Women Empowerment Through Social Enterprise') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>Empowering Women Through Social Enterprise</h2>
                                            <p>
                                                 This research looks at mutually reinforcing linkage between women’s empowerment and social enterprise across five countries: the UK, the United States, Brazil, India, and Pakistan.  
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Learn More", "https://blog.jsie.in/womens-empowerment-and-social-enterprise-99e735d82b91#.ci2nxoxyu", :class => "btn-xs btn-primary btn-filled" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                        </div>
                    </div>
                </div>
            </section>
        </div>
        </div>  
        </div>
    <header class="signup"> 
                    <div class="background-image-holder parallax-background">
                        
                    </div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                                <h1 class="text-white">An award winning social impact centre <br> in North India</h1>
                            </div>
                        </div>
<!-- Begin MailChimp Signup Form -->

                                <div class="col-md-6 centered">
                                <div class="photo-form-wrapper clearfix">
                                <form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">                       
                                    
                                <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div><div>
                                <div class="col-md-6 centered">
                                <input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled"> 
                                </div>
                                </form>
                                </div>
                                <!--End mc_embed_signup-->
                                
                        
                        </div>
                        
                    </div>  
            </header>
        </div>
 <%= render 'layouts/footer' %>
<script> mixpanel.track("research");</script>
		

				