<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/startup" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="An incubator with a social mission" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="http://www.jsie.in/assets/intro88-e474f0ba4bb0dac4a056f9f411b2f5e709f117dc11dc473c4a4b2eac0521a4ad.jpg" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
        <div class="spacer-90"></div>
        <div class="spacer-100"></div>

            <section class="page-header">
            <div class="background-image-holder parallax-background">
                    <%= image_tag('tedi.jpg', class: 'background-image', alt: 'Bitimpact') %>
                </div>
                <div class="container">
                        <div class="col-sm-12">
                            <div>
                              <div class="col-md-offset-6 text-right align-vertical no-align-mobile">
                                    <h1 class="space-bottom-sm">Startup Incubator</h1>
                                    <h5 class="space-bottom-md">with a social mission.</h5>
                            <div>
                              
                                <div class="spacer-40"></div>
                                      <p class="lead">JSiE offers guidance and resources to early-stage startup entrepreneurs. JSiE is the incubation partner to the Central Tibetan Administration and has dedicated programs for students of O.P. Jindal Global University. <br></p>
                                   <div class="spacer-40"></div>
                                
                             
                        </div>
                    </div>
                </div>

             </section>

                    <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">Startup Incubation at JSiE</span>
                            <h1><strong></strong>Supporting Entrepreneurship in North India</h1>
                            <p class="lead">
                            JSiE is a member of UBI Global Incubation Network and the Global Social Entrepreneurship Network. 
                        </div>
                    </div>
        
                </div>
            </section>
        <section class="duplicatable-content">
                <div class="container"?
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="blog-snippet-1">
                                <%= image_tag('gsen.png', class: 'background-image', alt: 'GSEN') %>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="blog-snippet-1">
                                <%= image_tag('ubinetwork.png', class: 'background-image', alt: 'UBI Network') %>
                            </div>
                        </div>
            </section>
                    <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                            <div class="col-md-12 text-center">
                                <h1 class="text-white"><strong></strong></h1>
                            </div>
                            <div class="spacer-40"></div>
                                         <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                </div>
                                <div class="pull-right">
                                    <h5 class="text-white">Tibetan Community-in-Exile</h5>
                                    <p>
                                        The Tibetan community-in-exile, considered one of the most successful refugee communities in the world, is situated in the rapidly growing economy of India. However, Tibetan entrepreneurs have found it difficult to expand their businesses outside local settlement communities and unemployment rates remain stubbornly high. The Tibetan government-in-exile has recognized the need for change and is dedicated to catalyzing an entrepreneurial culture within the Tibetan community.
                                      
                                    </p>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                </div>
                                <div class="pull-right">
                                    <h5 class="text-white">Incubation Partnership</h5>
                                    <p>
                                        JSiE has hosted three incubation cycles as an incubation partner to the Tibetan Entrepreneurship Development initiative program. Tibetan entrepreneurs can create significant economic and social impact in their communities. Supporting them helps create an economically self-reliant Tibetan community in India, and in turn, helps preserve the unique and compassion-based Tibetan cultural heritage.
                                    </p>
                                   

                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>  
                 </section>


                <section class="inline-image-right">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 align-vertical no-align-mobile">
                             <span class="sub alt-font">Tibetan Entrepreneurship Incubation Program</span>
         
                            <p class="lead">
                             The JSiE team of faculty and students from across the schools of the O.P. Jindal Global University lend their expertise in the areas of business model development, marketing, product management, digital media, and legal services. Alumni of the program have founded enterprises ranging from a Tibetan clothing line to an IT services company, many with the aim of supporting the Tibetan community in India through employment opportunities, skill development, and cultural preservation and promotion.
                            </p>
                            <%= link_to "Learn More", "https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730#.on1rlbv5l", :class => "btn btn-primary btn-filled" %>
                             <%= link_to "News Coverage", "https://www.firstpost.com/business/tibetans-in-exile-are-trying-their-hand-at-entrepreneurship-hope-that-startups-will-help-preserve-culture-heritage-4429041.html", :class => "btn btn-primary btn-filledhome" %>
                        </div>
                        
                        <div class="col-sm-6 text-center">
                            <%= image_tag('intro88.jpg', class: 'product-image', alt: 'Tibetan Entrepreneurship Development ') %>
                        </div>
                    </div>
                </div>
            </section>
              <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 text-center">
                            <h1 class="text-white"><strong>Student Entrepreneurship </strong>at O.P. Jindal Global University</h1>
                             <div class="spacer-40"></div>
                                                                      <div class="row">
                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                </div>
                                <div class="pull-right">
                                    <h5 class="text-white">O.P. Jindal Global University</h5>
                                    <p>
                                       O.P. Jindal Global University (JGU) is a non-profit, research university committed to interdisciplinarity and innovative culiculum; pluralism and rigorous scholarship; and globalism and international engagement. 
                                      
                                    </p>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-sm-6">
                            <div class="feature feature-icon-large">
                                <div class="pull-left">
                                </div>
                                <div class="pull-right">
                                    <h5 class="text-white">Startup Academy</h5>
                                    <p>
                                        The Startup Academy program offers sessions on business model development and mentorship to students at O.P. Jindal Global University with an enterprise idea. These are offered during each semester, in addition to students’ classes. 
                                    </p>
                                   

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
 <section class="page-header">
            <div class="background-image-holder parallax-background">
                    <%= image_tag('ssic.jpg', class: 'background-image', alt: 'Bitimpact') %>
                </div>
                <div class="container">
                        <div class="col-sm-12">
                            <div>
                              <div class="col-md-offset-6 text-right align-vertical no-align-mobile">
                                    <h1 class="text-white space-bottom-sm"></h1>
                                    <h2 class="space-bottom-sm"></h2>
                            <div>
                              
                                <div class="spacer-100"></div>
                                <div class="spacer-90"></div>
                                      <p class="lead"> <br></p>
                                   <div class="spacer-40"></div>
                                   <h1 class="text-white space-bottom-sm"></h1>
                                   
                           
                        </div>
                    </div>
                </div>

             </section>
                  <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 text-center">
                            <h1 class="text-white">Student Startup Stories</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-masonry bg-muted">
                <div class="container">
                
                <div class="container">
                    <div class="row">
                        <div class="blog-masonry-container">

                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('foodrocket.jpg', class: 'background-image', alt: 'FoodRocket - Anish Krishnan') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>FoodRocket - Anish Krishnan</h2>
                                            <p>
                                             How a second year law student started a food delivery service in 6 days.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/foodrocket-how-a-second-year-student-started-a-food-delivery-service-in-6-days-933aa1e348eb", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('expedist.png', class: 'background-image', alt: 'The Great Expedist - Shine Varghese and Anurag Bansal') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>The Great Expedist - Shine Varghese and Anurag Bansal</h2>
                                            <p>
                                             How two university students launched a  startup for all-inclusive weekend getaways.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/the-great-expedist-all-inclusive-weekend-getaways-on-a-student-budget-4d6c5dbbe2ae", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('myJGU.jpg', class: 'background-image', alt: 'myJGU - Anish Krishnan') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>myJGU - Anish Krishnan</h2>
                                            <p>
                                             How a virtual campus assistant keeps students informed at the tap of a button.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/myjgu-how-a-virtual-campus-assistant-keeps-students-informed-at-the-tap-of-a-button-408e37ec7f69", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                        </div>
                    </div>
                </div>
            </section>
		<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award-winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
<%= render 'layouts/footer' %>
	<script> mixpanel.track("Startup");</script>