<%= render 'layouts/nav' %> 
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/startup" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="An incubator with a social mission" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('ubi.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>

           <div class="spacer-60"></div>
        <div class="spacer-100"></div>
  			<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
                             <span class="sub alt-font">Startup Spotlight</span>
							<h1>Tibetan Entrepreneur Development</h1>
							<h6></h6>
								<p class="lead">
						 	
							Tibetan entrepreneurs can create significant economic and social impact in their communities. Supporting them helps create an economically self-reliant Tibetan community in India, and in turn, helps preserve the unique and compassion-based Tibetan cultural heritage. JSiE has hosted three incubation cycles as an incubation partner to the Tibetan Entrepreneurship Development initiative program. 

							</p>
							<p>
						 	 JSiE has hosted three incubation cycles as an incubation partner to the Tibetan Entrepreneurship Development initiative program. Faculty and students from across the schools of the O.P. Jindal Global University lend their expertise in the areas of business model development, marketing, product management, digital media, and legal services. JSiE prepares the entrepreneurs to meet with prospective investors by helping them develop a clear business model and communicate that model through a pitching presentation. Alumni of the program have founded enterprises ranging from a Tibetan clothing line to an IT services company, many with the aim of supporting the Tibetan community in India through employment opportunities, skill development, and cultural preservation and promotion.
							</p>
							<%= link_to "Learn More", "https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730#.on1rlbv5l", :class => "btn btn-primary btn-filled" %>
						</div>
						
						<div class="col-sm-6 text-center">
							<%= image_tag('tedi1.jpg', class: 'product-image', alt: 'Tibetan Entrepreneurship Development ') %>
						</div>
					</div>
				</div>
			</section>
		<section class="strip bg-primary">
				<div class="container">
					<div class="row clearfix">
							<div class="col-sm-9 col-xs-12 pull-left clear-fix">
								<h1 class="text-white pull-left"><strong>Tibetan entrepreneurs in the news</strong></h1>
							</div>
							
							<div class="col-sm-3 col-xs-12 pull-right text-right">
								<%= link_to "Read More", "https://www.firstpost.com/business/tibetans-in-exile-are-trying-their-hand-at-entrepreneurship-hope-that-startups-will-help-preserve-culture-heritage-4429041.html", :class => "btn btn-primary btn-filled" %>
							</div>
					</div>
					
				</div>	
				 </section>
        <section class="pure-text-centered">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
                            <span class="sub alt-font">Startup Incubation at JSiE</span>
                            <h1><strong></strong>Building a startup ecosytem for inclusive growth</h1>
                            <p class="lead">
                            JSiE offers guidance and resources to early-stage startup entrepreneurs. JSiE has dedicated programs for students of OP Jindal Global University and selected entrepreneurs from the Tibetan community in India. Our programs focus on helping entrepreneurs develop a clear and unique business model. We aim to support inclusive growth and development across India through entrepreneurship training. 
                        </div>
                    </div>
        
                </div>
            </section>
		<section class="duplicatable-content">
				<div class="container"?
					
					<div class="row">
						<div class="col-md-6 col-sm-6 text-center">
							<div class="blog-snippet-1">
								<%= image_tag('gsen.png', class: 'background-image', alt: 'GSEN') %>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 text-center">
							<div class="blog-snippet-1">
								<%= image_tag('ubinetwork.png', class: 'background-image', alt: 'UBI Network') %>
							</div>
						</div>
			</section>

		                    <section class="strip bg-primary">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12 ">
                            <h3 class="text-white"><strong>Startup Academy by JSiE </strong>at O.P. Jindal Global University</h3>
                        </div>
                        
                        <div class="col-sm-6 col-xs-12 ">
                            <%= link_to "Startup Academy Stories", "https://medium.com/startup-academy-by-jsie", :class => "btn btn-primary btn-white btn-filled" %>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-masonry bg-muted">
                <div class="container">
                
                <div class="container">
                    <div class="row">
                        <div class="blog-masonry-container">

                            <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('foodrocket.jpg', class: 'background-image', alt: 'FoodRocket - Anish Krishnan') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>FoodRocket - Anish Krishnan</h2>
                                            <p>
                                             How a second year law student started a food delivery service in 6 days.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/foodrocket-how-a-second-year-student-started-a-food-delivery-service-in-6-days-933aa1e348eb", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('expedist.png', class: 'background-image', alt: 'The Great Expedist - Shine Varghese and Anurag Bansal') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>The Great Expedist - Shine Varghese and Anurag Bansal</h2>
                                            <p>
                                             How two university students launched a  startup for all-inclusive weekend getaways.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/the-great-expedist-all-inclusive-weekend-getaways-on-a-student-budget-4d6c5dbbe2ae", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                         <div class="col-md-4 col-sm-6 blog-masonry-item research">
                                <div class="item-inner">
                                            <%= image_tag('myJGU.jpg', class: 'background-image', alt: 'myJGU - Anish Krishnan') %>
                                        </a>
                                        <div class="post-title">
                                            <h2>myJGU - Anish Krishnan</h2>
                                            <p>
                                             How a virtual campus assistant keeps students informed at the tap of a button.
                                            </p>
                                            <div class="row">
                                            <div class="col-md-12 text-center">
                                            <%= link_to "Read the Story", "https://medium.com/startup-academy-by-jsie/myjgu-how-a-virtual-campus-assistant-keeps-students-informed-at-the-tap-of-a-button-408e37ec7f69", :class => "btn-xs btn-primary btn-filled" %>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





                        </div>
                    </div>
                </div>
            </section>
		<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">An award winning social impact centre <br> in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
<%= render 'layouts/footer' %>
	<script> mixpanel.track("Startup");</script>