<%= render 'layouts/nav' %>
<% content_for :head do %>
  <meta property="og:url"           content="http://www.jsie.in/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="A Social Innovation Lab in North India" />
  <meta property="og:description"   content="The Jindal Centre for Social Innovation & Entrepreneurship at O.P. Jindal Global University" />
  <meta property="og:image"         content="<%=asset_url('jsieface.jpg') %>" />
  <meta property="fb:app_id"        content="1535582636740127" />
  <% end %>
  <div class="spacer-100"></div>
  <div class="spacer-50"></div>
  	<header class="page-header">
				<div class="background-image-holder parallax-background">
						<%= image_tag('intro4.jpg', class: 'background-image', alt: 'JSiE') %>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white alt-font">Powered with Artificial Intelligence</span>
							<h1 class="text-white">Chat with Jai</h1>
							<p class="text-white lead">JSiE has partnered with Jai.ai, the first AI-powered startup mentor for startups in India.</p>
							<%= link_to "Chat with Jai", "https://jsie.typeform.com/to/zHxLCp", :class => "btn btn-primary btn-filled" %>
						</div>
					</div>
				</div>
			</header>
		</div>
				<div class="spacer-50"></div>
			<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
							<h1>An Incubator with a Social Mission</h1>
							<h6></h6>
							<p class="lead">
								JSiE has completed two pre-incubation cycles supporting Tibetan entrepreneurs living in India. The program provides business model generation and legal support from the JSiE team and faculty members of OP Jindal Global University. JSiE is a member of UBI Global Incubation Impact Network - a network of 400 data driven, entrepreneurial centric, incubation programs from over 70 countries, in partnership with Cisco Corporate Affairs. 
							</p>
							<%= link_to "Learn More", "https://blog.jsie.in/tibetan-entrepreneurship-development-67124803e730#.on1rlbv5l", :class => "btn btn-primary btn-grey" %>
						</div>
						
						<div class="col-sm-6 text-center">
							<%= image_tag('tibetan.jpg', class: 'product-image', alt: 'Tibetan Entrepreneurship Development ') %>
						</div>
					</div>
				</div>
			</section>
		
		<header class="signup"> 
					<div class="background-image-holder parallax-background">
						
					</div>
					
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
								<h1 class="text-white">A Social Innovation Lab in North India</h1>
							</div>
						</div>
<!-- Begin MailChimp Signup Form -->

								<div class="col-md-6 centered">
								<div class="photo-form-wrapper clearfix">
								<form action="//jsie.us9.list-manage.com/subscribe/post?u=1d9cee480d11c55b46cafda06&amp;id=9dce774ba4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								<input type="email" size="50" value="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">						
									
								<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div><div>
								<div class="col-md-6 centered">
								<input type="submit" value="Stay Updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-filled">	
								</div>
								</form>
								</div>
								<!--End mc_embed_signup-->
								
						
						</div>
						
					</div>	
			</header>
		</div>
<%= render 'layouts/footer' %>
	<script> mixpanel.track("Startup");</script>