<div class="nav-container">
			<nav class="top-bar centered-logo">
				<div class="container">
				<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
								<%= link_to "<i class=\"iicon social_facebook\"></i>".html_safe, "https://www.facebook.com/JSiEin/"-%>
							    </li>
								<li>
								<%= link_to "<i class=\"iicon social_twitter\"></i>".html_safe, "https://twitter.com/jsiein"-%>
								</li>
									<li>
								<%= link_to "<i class=\"iicon social_instagram\"></i>".html_safe, "https://www.instagram.com/jsiein/"-%>
									</li>
							</ul>
						</div>
					<div class="row utility-menu">
						<div class="col-sm-4 col-xs-12 pull-right text-left">
							<div class="utility-inner clearfix text-center">
							<h6>O.P. Jindal Global University
							</h6>
				
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12 text-center">
					<%= link_to "http://www.jsie.in/" do %>
    				<%= image_tag 'logo.png', class: 'logo logo-dark', alt: 'JSiE'%>
					<% end %>
						</div>
					</div>

				
				
					<div class="row nav-menu">
					
						<div class="col-sm-12 columns text-center">
							<ul class="menu">
								<li> <%= link_to "About", about_path %></li>
								<li> <%= link_to "Learn", learn_path %></li>
								<li> <%= link_to "Startup", startup_path %></li>
								<li> <%= link_to "Research", research_path %></li>
								<li><a href="http://blog.jsie.in/" target="_blank">News & Updates</a></li>
								
							
											</ul>	
										</div>
								
								</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>