<div class="nav-container">
			<nav class="top-bar centered-logo">
				<div class="container">
						<div class="col-xs-12">
					<%= link_to "http://www.jsie.in/" do %>
    				<%= image_tag 'logo.png', class: 'logo logo-dark', alt: 'JSiE'%>
					<% end %>
						<%= link_to "http://www.jsie.in/" do %>
    				<%= image_tag 'jsietext.png', class: 'logo logo-dark', alt: 'JSiE'%>
					<% end %>
					<%= link_to "http://www.jgu.edu.in/" do %>
    				<%= image_tag 'jgulogo.png', class: 'logo logo-dark-float', target: "_blank", alt: 'JGU'%>
					<% end %>
						</div>
					<div class="row utility-menu">
						<div class="col-sm-12">
							<div class="utility-inner clearfix text-center">
							<h2>
							</h2>
				
							</div>
							
						</div>
					</div>

	
					<div class="row nav-menu">
					
						<div class="col-sm-12 columns text-center">
							<ul class="menu">
								<li class="has-dropdown"><p class="text-nav1">About</p> 
									<ul class="subnav">
												<li><%= link_to "People", "http://www.jsie.in/about/people" %></li>
												<li><%= link_to "Partners", "http://www.jsie.in/about/partners" %></li>
												
											</ul>

											  
								</li>
								<li class="has-dropdown"> <p class="text-nav1">Online Courses</p> 
											<ul class="subnav">
												<li><%= link_to "Impact Investing", "https://www.futurelearn.com/courses/impact-investing" %></li>
												<li><%= link_to "Community Organizing", "http://www.jsie.in/learn/lac" %></li>
												<li><%= link_to "Social Enterprise", "https://www.futurelearn.com/programs/social-enterprise" %></li>
											</ul>
								</li>
								<li> <%= link_to "Research", "http://www.jsie.in/research" %></li>
								<li> <%= link_to "Impact", impact_path %></li>
								<li><a href="http://blog.jsie.in/" target="_blank">Blog</a></li>
								</ul>	
					
										</div>
								
								</div>
					
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>